/! Content Header (Page header)
section.content-header
  h1
    | Settings
  ol.breadcrumb
    li
      a href="#" 
        i.fa.fa-dashboard
        | Home
    li
      a href="#"  Examples
    li.active User profile
/! Main content
section.content
  .row
    / ============================================================================================
    / TAX TABLE
    / ============================================================================================
    .col-sm-12.col-xs-12
      /! TABLE: TAXES
      .box.box-info
        .box-header.with-border
          h3.box-title Tax Table (Monthly)
          .box-tools.pull-right
            button.btn.btn-box-tool data-widget="collapse" 
              i.fa.fa-minus
            button.btn.btn-box-tool data-widget="remove" 
              i.fa.fa-times
        /! /.box-header
        
        .box-body
          .table-responsive
            table.table.no-margin
              thead
                tr
                  th.col-xs-1 Exempt Code
                  th.col-xs-3 Bracket / Over
                  th.col-xs-3 Constant
                  th.col-xs-1 Excess Percent
                  th.col-xs-4 Excempt Desc
                  
              tbody
                -taxes.each do |exempt, tax|
                  tr
                    td.text-center 
                      strong =exempt
                  -tax.each do |t|  
                    tr
                      =form_for tax, url: tax_path(t)
                        td =text_field_tag :exempt_code, nil, class: "form-control btn"
                        td =text_field_tag :over, t.over, class: "form-control btn"
                        td =text_field_tag :tax_due, t.tax_due, class: "form-control btn"
                        td =text_field_tag :excess_percent, t.excess_percent, class: "form-control btn"
                        td =text_field_tag :exempt_description, t.exempt_description, class: "form-control btn"
                        td.btn-inside-td
                          .hide-btn
                            button.btn.btn-xs.btn-success 
                              i.fa.fa-pencil
                            / =submit_tag 'Update', class: "btn btn-warning btn-xs"
                            =link_to '<i class="fa fa-times"></i>', tax_path(t), class: "btn btn-danger btn-xs", method: :delete, data: { confirm: 'Are you sure?' }
        
          /! /.table-responsive
        /! /.box-body
        .box-footer.clearfix
          button.btn.btn-sm.btn-info.btn-flat.pull-left data-target="#newTax" data-toggle="modal" data-whatever="@mdo" Add

        #newTax.modal.fade aria-labelledby="newTaxLabel" role="dialog" tabindex="-1" 
          .modal-dialog role="document" 
            = form_for new_tax, url: taxes_path
                .modal-content
                  .modal-header
                    button.close aria-label="Close" data-dismiss="modal" type="button" 
                      span aria-hidden="true"  &times;
                    h4#newTaxLabel.modal-title New Tax
                  .modal-body
                    .form-group
                      = label_tag :exempt_code, 'Exemption Code:', class: "control-label"
                      = text_field_tag :exempt_code, nil, class: "form-control"    
                    .form-group
                      = label_tag :over, 'Bracket / Over:', class: "control-label"
                      = text_field_tag :over, nil, class: "form-control"      
                    .form-group
                      = label_tag :tax_due, 'Constant:', class: "control-label"
                      = text_field_tag :tax_due, nil, class: "form-control"  
                    .form-group
                      = label_tag :excess_percent, 'Excess Percent:', class: "control-label"
                      = text_field_tag :excess_percent, nil, class: "form-control"     
                    .form-group
                      = label_tag :exempt_description, 'Exempt Description:', class: "control-label"
                      = text_field_tag :exempt_description, nil, class: "form-control"                 
                  .modal-footer
                    button.btn.btn-default data-dismiss="modal" type="button"  Close
                    = submit_tag 'Save', class: "btn btn-primary"  
        /! /.box-footer
      /! /.box
    / ============================================================================================
    / END OF TAXES
    / ============================================================================================

    / ============================================================================================
    / PHILHEALTH
    / ============================================================================================
    .col-sm-12.col-xs-12
      /! TABLE: TAXES
      .box.box-info
        .box-header.with-border
          h3.box-title PhilHealth
          .box-tools.pull-right
            button.btn.btn-box-tool data-widget="collapse" 
              i.fa.fa-minus
            button.btn.btn-box-tool data-widget="remove" 
              i.fa.fa-times
        /! /.box-header
        .box-body
          .table-responsive
            table.table.no-margin
              thead
                tr
                  th.col-xs-1 Bracket
                  th Month Salary From
                  th Month Salary Up To
                  th Salary Base
                  th Total Monthly Contribution
                  th Personal Share
                  th Employer Share
              tbody
                -philhealths.each do |philhealth|
                  tr
                    =form_for philhealth, url: philhealth_path(philhealth)
                      td =text_field_tag :bracket, philhealth.bracket, class: "form-control btn"
                      td =text_field_tag :month_salary_from, philhealth.month_salary_from, class: "form-control btn"
                      td =text_field_tag :month_salary_up_to, philhealth.month_salary_up_to, class: "form-control btn"
                      td =text_field_tag :salary_base, philhealth.salary_base, class: "form-control btn"
                      td =text_field_tag :total_monthly_contribution, philhealth.total_monthly_contribution, class: "form-control btn"
                      td =text_field_tag :personal_share, philhealth.personal_share, class: "form-control btn"
                      td =text_field_tag :employer_share, philhealth.employer_share, class: "form-control btn"
                      td 
                      td.btn-inside-td
                        .hide-btn
                          button.btn.btn-xs.btn-success 
                            i.fa.fa-pencil
                          / =submit_tag 'Update', class: "btn btn-warning btn-xs"
                          =link_to '<i class="fa fa-times"></i>', philhealth_path(philhealth), class: "btn btn-danger btn-xs", method: :delete, data: { confirm: 'Are you sure?' }
                
          /! /.table-responsive
        /! /.box-body
        .box-footer.clearfix
          button.btn.btn-sm.btn-info.btn-flat.pull-left data-target="#newPhilhealth" data-toggle="modal" data-whatever="@mdo" Add

        #newPhilhealth.modal.fade aria-labelledby="newPhilhealthLabel" role="dialog" tabindex="-1" 
          .modal-dialog role="document" 
            = form_for new_philhealth, url: philhealths_path
              .modal-content
                .modal-header
                  button.close aria-label="Close" data-dismiss="modal" type="button" 
                    span aria-hidden="true"  &times;
                  h4#newPhilhealthLabel.modal-title New Philhealth
                .modal-body
                  .form-group
                    = label_tag :bracket, 'Bracket:', class: "control-label"
                    = text_field_tag :bracket, nil, class: "form-control"  
                  .form-group
                    = label_tag :month_salary_from, 'Month Salary From:', class: "control-label"
                    = text_field_tag :month_salary_from, nil, class: "form-control"    
                  .form-group
                    = label_tag :month_salary_up_to, 'Month Salary Up To:', class: "control-label"
                    = text_field_tag :month_salary_up_to, nil, class: "form-control"    
                  .form-group
                    = label_tag :salary_base, 'Salary Base:', class: "control-label"
                    = text_field_tag :salary_base, nil, class: "form-control"  
                  .form-group
                    = label_tag :total_monthly_contribution, 'Total Monthly Contribution:', class: "control-label"
                    = text_field_tag :total_monthly_contribution, nil, class: "form-control"     
                  .form-group
                    = label_tag :personal_share, 'Personal Share:', class: "control-label"
                    = text_field_tag :personal_share, nil, class: "form-control"   
                  .form-group
                    = label_tag :employer_share, 'Employer Share:', class: "control-label"
                    = text_field_tag :employer_share, nil, class: "form-control"              
                .modal-footer
                  button.btn.btn-default data-dismiss="modal" type="button"  Close
                  = submit_tag 'Save', class: "btn btn-primary"  
        /! /.box-footer
      /! /.box
    / ============================================================================================
    / END OF PHILHEALTH
    / ============================================================================================

    / ============================================================================================
    / PAYROLL TYPE
    / ============================================================================================
    .col-sm-6.col-xs-12
      /! TABLE: 
      .box.box-info
        .box-header.with-border
          h3.box-title Payroll Type
          .box-tools.pull-right
            button.btn.btn-box-tool data-widget="collapse" 
              i.fa.fa-minus
            button.btn.btn-box-tool data-widget="remove" 
              i.fa.fa-times
        /! /.box-header
        .box-body
          .table-responsive
            table.table.no-margin
              thead
                tr
                  th.col-xs-1 Code
                  th Description
                  th Days
              tbody
                -payrolltypes.each do |payrolltype|
                  tr
                    =form_for payrolltype, url: payrolltype_path(payrolltype)
                      td =text_field_tag :code, payrolltype.code, class: "form-control btn"
                      td =text_field_tag :description, payrolltype.description, class: "form-control btn"
                      td =text_field_tag :days, payrolltype.days, class: "form-control btn"
                      td 
                      td.btn-inside-td
                        .hide-btn
                          button.btn.btn-xs.btn-success 
                            i.fa.fa-pencil
                          / =submit_tag 'Update', class: "btn btn-warning btn-xs"
                          =link_to '<i class="fa fa-times"></i>', payrolltype_path(payrolltype), class: "btn btn-danger btn-xs", method: :delete, data: { confirm: 'Are you sure?' }
                
          /! /.table-responsive
        /! /.box-body
        .box-footer.clearfix
          button.btn.btn-sm.btn-info.btn-flat.pull-left data-target="#newPayrolltype" data-toggle="modal" data-whatever="@mdo" Add

        #newPayrolltype.modal.fade aria-labelledby="newPayrolltypeLabel" role="dialog" tabindex="-1" 
          .modal-dialog role="document" 
            = form_for new_payrolltype, url: payrolltypes_path
              .modal-content
                .modal-header
                  button.close aria-label="Close" data-dismiss="modal" type="button" 
                    span aria-hidden="true"  &times;
                  h4#newPhilhealthLabel.modal-title New Payroll Type
                .modal-body
                  .form-group
                    = label_tag :code, 'Type:', class: "control-label"
                    = text_field_tag :code, nil, class: "form-control"  
                  .form-group
                    = label_tag :description, 'Description:', class: "control-label"
                    = text_field_tag :description, nil, class: "form-control"     
                  .form-group
                    = label_tag :days, 'Days:', class: "control-label"
                    = text_field_tag :days, nil, class: "form-control"               
                .modal-footer
                  button.btn.btn-default data-dismiss="modal" type="button"  Close
                  = submit_tag 'Save', class: "btn btn-primary"  
        /! /.box-footer
      /! /.box
    / ============================================================================================
    / END OF PAYROLL TYPE
    / ============================================================================================


    / ============================================================================================
    / STATUS
    / ============================================================================================
    .col-sm-6.col-xs-12
      /! TABLE: TAXES
      .box.box-info
        .box-header.with-border
          h3.box-title Employee Status
          .box-tools.pull-right
            button.btn.btn-box-tool data-widget="collapse" 
              i.fa.fa-minus
            button.btn.btn-box-tool data-widget="remove" 
              i.fa.fa-times
        /! /.box-header
        .box-body
          .table-responsive
            table.table.no-margin
              thead
                tr
                  th.col-xs-1 Code
                  th Description
              tbody
                -statuses.each do |status|
                  tr
                    =form_for status, url: status_path(status)
                      td =text_field_tag :status, status.status, class: "form-control btn"
                      td =text_field_tag :description, status.description, class: "form-control btn"
                      td.btn-inside-td
                        .hide-btn
                          button.btn.btn-xs.btn-success 
                            i.fa.fa-pencil
                          / =submit_tag 'Update', class: "btn btn-warning btn-xs"
                          =link_to '<i class="fa fa-times"></i>', status_path(status), class: "btn btn-danger btn-xs", method: :delete, data: { confirm: 'Are you sure?' }
                
          /! /.table-responsive
        /! /.box-body
        .box-footer.clearfix
          button.btn.btn-sm.btn-info.btn-flat.pull-left data-target="#newStatus" data-toggle="modal" data-whatever="@mdo" Add

        #newStatus.modal.fade aria-labelledby="newStatusLabel" role="dialog" tabindex="-1" 
          .modal-dialog role="document" 
            = form_for new_status, url: statuses_path
                .modal-content
                  .modal-header
                    button.close aria-label="Close" data-dismiss="modal" type="button" 
                      span aria-hidden="true"  &times;
                    h4#newPhilhealthLabel.modal-title New Status
                  .modal-body
                    .form-group
                      = label_tag :status, 'Status:', class: "control-label"
                      = text_field_tag :status, nil, class: "form-control"  
                    .form-group
                      = label_tag :description, 'Description:', class: "control-label"
                      = text_field_tag :description, nil, class: "form-control"      
                  .modal-footer
                    button.btn.btn-default data-dismiss="modal" type="button"  Close
                    = submit_tag 'Save', class: "btn btn-primary"  
        /! /.box-footer
      /! /.box
    / ============================================================================================
    / END OF STATUS
    / ============================================================================================


    / ============================================================================================
    / DEDUCTION
    / ============================================================================================
    .col-sm-6.col-xs-12
      /! TABLE: 
      .box.box-info
        .box-header.with-border
          h3.box-title Deduction
          .box-tools.pull-right
            button.btn.btn-box-tool data-widget="collapse" 
              i.fa.fa-minus
            button.btn.btn-box-tool data-widget="remove" 
              i.fa.fa-times
        /! /.box-header
        .box-body
          .table-responsive
            table.table.no-margin
              thead
                tr
                  th.col-xs-1 Code
                  th Description
                  th Type
                  th Remarks
              tbody
                -deductions.each do |deduction|
                  tr
                    =form_for deduction, url: deduction_path(deduction)
                      td =text_field_tag :code, deduction.code, class: "form-control btn"
                      td =text_field_tag :description, deduction.description, class: "form-control btn"
                      td =text_field_tag :kind, deduction.kind, class: "form-control btn"
                      td =text_field_tag :remark, deduction.remark, class: "form-control btn"
                      td.btn-inside-td
                        .hide-btn
                          button.btn.btn-xs.btn-success 
                            i.fa.fa-pencil
                          / =submit_tag 'Update', class: "btn btn-warning btn-xs"
                          =link_to '<i class="fa fa-times"></i>', deduction_path(deduction), class: "btn btn-danger btn-xs", method: :delete, data: { confirm: 'Are you sure?' }
                
          /! /.table-responsive
        /! /.box-body
        .box-footer.clearfix
          button.btn.btn-sm.btn-info.btn-flat.pull-left data-target="#newDeduction" data-toggle="modal" data-whatever="@mdo" Add

        #newDeduction.modal.fade aria-labelledby="newDeductionLabel" role="dialog" tabindex="-1" 
          .modal-dialog role="document" 
            = form_for new_deduction, url: deductions_path
              .modal-content
                .modal-header
                  button.close aria-label="Close" data-dismiss="modal" type="button" 
                    span aria-hidden="true"  &times;
                  h4#newDeductionLabel.modal-title New Deduction
                .modal-body
                  .form-group
                    = label_tag :code, 'Code:', class: "control-label"
                    = text_field_tag :code, nil, class: "form-control"  
                  .form-group
                    = label_tag :description, 'Description:', class: "control-label"
                    = text_field_tag :description, nil, class: "form-control" 
                  .form-group
                    = label_tag :kind, 'Type:', class: "control-label"
                    = text_field_tag :kind, nil, class: "form-control" 
                  .form-group
                    = label_tag :remark, 'Remarks:', class: "control-label"
                    = text_field_tag :remark, nil, class: "form-control"                      
                .modal-footer
                  button.btn.btn-default data-dismiss="modal" type="button"  Close
                  = submit_tag 'Save', class: "btn btn-primary"  
        /! /.box-footer
      /! /.box
    / ============================================================================================
    / END OF DEDUCTION
    / ============================================================================================

    / ============================================================================================
    / LEAVE TYPE
    / ============================================================================================
    .col-sm-6.col-xs-12
      /! TABLE: 
      .box.box-info
        .box-header.with-border
          h3.box-title Leave Type
          .box-tools.pull-right
            button.btn.btn-box-tool data-widget="collapse" 
              i.fa.fa-minus
            button.btn.btn-box-tool data-widget="remove" 
              i.fa.fa-times
        /! /.box-header
        .box-body
          .table-responsive
            table.table.no-margin
              thead
                tr
                  th.col-xs-1 Code
                  th Description
                  th Type
              tbody
                -leavetypes.each do |leavetype|
                  tr
                    =form_for leavetype, url: leavetype_path(leavetype)
                      td =text_field_tag :code, leavetype.code, class: "form-control btn"
                      td =text_field_tag :description, leavetype.description, class: "form-control btn"
                      td =text_field_tag :kind, leavetype.kind, class: "form-control btn"
                      td.btn-inside-td
                        .hide-btn
                          button.btn.btn-xs.btn-success 
                            i.fa.fa-pencil
                          / =submit_tag 'Update', class: "btn btn-warning btn-xs"
                          =link_to '<i class="fa fa-times"></i>', leavetype_path(leavetype), class: "btn btn-danger btn-xs", method: :delete, data: { confirm: 'Are you sure?' }
                
          /! /.table-responsive
        /! /.box-body
        .box-footer.clearfix
          button.btn.btn-sm.btn-info.btn-flat.pull-left data-target="#newLeavetype" data-toggle="modal" data-whatever="@mdo" Add

        #newLeavetype.modal.fade aria-labelledby="newLeavetypeLabel" role="dialog" tabindex="-1" 
          .modal-dialog role="document" 
            = form_for new_leavetype, url: leavetypes_path
              .modal-content
                .modal-header
                  button.close aria-label="Close" data-dismiss="modal" type="button" 
                    span aria-hidden="true"  &times;
                  h4#newLeaveLabel.modal-title New Leave Type
                .modal-body
                  .form-group
                    = label_tag :code, 'Type:', class: "control-label"
                    = text_field_tag :code, nil, class: "form-control"  
                  .form-group
                    = label_tag :description, 'Description:', class: "control-label"
                    = text_field_tag :description, nil, class: "form-control"     
                  .form-group
                    = label_tag :kind, 'Type:', class: "control-label"
                    = text_field_tag :kind, nil, class: "form-control"               
                .modal-footer
                  button.btn.btn-default data-dismiss="modal" type="button"  Close
                  = submit_tag 'Save', class: "btn btn-primary"  
        /! /.box-footer
      /! /.box
    / ============================================================================================
    / END OF LEAVE TYPE
    / ============================================================================================


javascript:
  $(function () {
    $('#newTax').on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget) 
    });

    $('#newPhilhealth').on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget) 
    });

    $('#newStatus').on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget) 
    });

    $('#newPayrolltype').on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget) 
    });

    $('#newTaxcode').on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget) 
    });

    $('#newDeduction').on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget) 
    });

    $('#newLeavetype').on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget) 
    });
  });
  