/! Content Header (Page header)
section.content-header
  h1
    | Data Summary
    small =data_type
  .breadcrumb
    .btn-group role="group" style="margin-right: 5px;"
      button.btn.btn-default.btn-flat.btn-xs.dropdown-toggle aria-expanded="true" aria-haspopup="false" data-toggle="dropdown" type="button" 
        | Options &nbsp;
        span.caret

      ul.dropdown-menu.dropdown-menu-right
        / li 
        /   a href="javascript:;" data-target="#savedData" data-toggle="modal" 
        /     i.fa.fa-floppy-o 
        /     |Create Paydate 
        li 
          a href="javascript:;" data-target="#viewData" data-toggle="modal" 
            i.fa.fa-calendar 
            |Choose Paydate       

                        
    a.badge href="javascript:;" data-target="#changePeriod" data-toggle="modal"
      i.fa.fa-calendar 
      |&nbsp; 
      =period_from
      |&nbsp; 
      i.fa.fa-arrow-circle-right 
      |&nbsp; 
      =period_to
        

/! Main content
section.content
  .row
    .col-md-12
      .nav-tabs-custom
        ul.nav.nav-tabs
          -branches.each do |b|
            li class="#{active(b.branch)}"
              a data-toggle="tab" href="##{b.branch.parameterize.underscore.classify}" #{b.branch}    
        /! Profile Image
        .tab-content          
          -branches.each do |b| 
            javascript:
              $(function () {
                $("#employees#{b.branch.parameterize.underscore.classify}").DataTable(); 
              });         
            div id="#{b.branch.parameterize.underscore.classify}" class="tab-pane #{active(b.branch)}"
              .table-responsive
                table.table.table-bordered.table-striped id="employees#{b.branch.parameterize.underscore.classify}"
                  thead
                    tr
                      th LAST NAME
                      th GIVEN NAME
                      th TOTAL DAYS
                      th REG OT
                      th RD OT
                      th TARDY
                      th ABSENCE
                      th 
                  tbody
                    -employees.where(:branch => b.branch).each do |employee|
                      -if summary(employee).present?
                        tr
                          td= employee.last_name
                          td= employee.given_name
                          td= summary(employee)[:total_days]
                          td= summary(employee)[:reg_ot]
                          td= summary(employee)[:rd_ot]
                          td= summary(employee)[:tardy]
                          td= summary(employee)[:absences]
                          td
                            .btn-group role="group" 
                              button.btn.btn-default.btn-flat.btn-xs.dropdown-toggle aria-expanded="true" aria-haspopup="false" data-toggle="dropdown" type="button" 
                                i.fa.fa-ellipsis-h
                              ul.dropdown-menu.dropdown-menu-right
                                li 
                                  div.summary-data style="display:none;"
                                    =summary(employee).to_json
                                  a href="javascript:;" data-target="#showMore" data-toggle="modal" data-employee="#{employee.given_name} #{employee.last_name}" data-id="#{summary(employee)[:id]}"
                                    i.fa.fa-list 
                                    | View all
                                li
                                  =link_to '<i class="fa fa-user-circle-o"></i> Account', employee_path(employee)
                                li
                                  =link_to '<i class="fa fa-clock-o"></i> Timecard', employee_timecards_path(employee)
                                /li 
                                  a href="javascript:;" data-target="#newLeave" data-toggle="modal" data-id="#{employee.id}" data-employee="#{employee.given_name} #{employee.last_name}" data-leaves='#{employee.leaves.to_json}'
                                    i.fa.fa-plane 
                                    |&nbsp; Leave (#{summary(employee)[:leaves]})
                                                      
          
#showMore.modal.fade aria-labelledby="showMoreLabel" role="dialog" tabindex="-1" 
  .modal-dialog role="document" 
    .modal-content
      =form_for datasummary, url: datasummaries_path, id: "datasummary_form"
        .modal-header
          button.close aria-label="Close" data-dismiss="modal" type="button" 
            span aria-hidden="true"  &times;
          h4#showMoreLabel.modal-title 
            strong.summary-employee
            |&nbsp; Data Summary for &nbsp;
            =paydate
          span.badge
            i.fa.fa-calendar &nbsp;
            =period_from  
            |&nbsp; 
            i.fa.fa-arrow-circle-right 
            |&nbsp;   
            =period_to 
          =hidden_field_tag :period_from, period_from
          =hidden_field_tag :period_to, period_to  
          =hidden_field_tag :paydate, paydate  
        .modal-body.btn-text-field    
          table.table.table-bordered.table-striped
            tr
              td.text-center colspan="4" 
                strong DATA TABLE 1
            tr
              td 
                strong Total Days  
              td
                =text_field_tag :total_days, nil, class: "total_days btn btn-xs"
              td 
                strong REG OT   
              td
                =text_field_tag :reg_ot, nil, class: "reg_ot btn btn-xs"
            tr
              td 
                strong Absences   
              td
                =text_field_tag :absences, nil, class: "absences btn btn-xs"
              td 
                strong RD OT   
              td
                =text_field_tag :rd_ot, nil, class: "rd_ot btn btn-xs"
            tr
              td 
                strong Tardy
              td
                =text_field_tag :tardy, nil, class: "tardy btn btn-xs"
              td 
                strong SP OT   
              td
                =text_field_tag :sp_ot, nil, class: "sp_ot btn btn-xs" 
            tr
              td 
                strong Night Diff
              td
                =text_field_tag :night_diff, nil, class: "night_diff btn btn-xs" 
              td 
                strong HOT   
              td
                =text_field_tag :hot, nil, class: "hot btn btn-xs" 
            tr
              td 
                strong VL  
              td
                =text_field_tag :vl, nil, class: "vl btn btn-xs"  
              td 
                strong EXT OT   
              td
                =text_field_tag :ext_ot, nil, class: "ext_ot btn btn-xs"  
            tr
              td 
                strong SL   
              td
                =text_field_tag :sl, nil, class: "sl btn btn-xs"  
              td 
                strong OT Meals  
              td
                =text_field_tag :ot_meals, nil, class: "ot_meals btn btn-xs"  
            tr
              td.text-center colspan="4" 
                strong DATA TABLE 2 
            tr
              td 
                strong Philhealth 15th
              td
                =text_field_tag :philhealth_15th, nil, class: "philhealth_15th btn btn-xs"
              td 
                strong HDMF 15th   
              td
                =text_field_tag :hdmf_15th, nil, class: "hdmf_15th btn btn-xs"
            tr
              td 
                strong HDMF Loan 15th   
              td
                =text_field_tag :hdmf_ln_15th, nil, class: "hdmf_ln_15th btn btn-xs"
              td 
                strong SSS 30th  
              td
                =text_field_tag :sss_30th, nil, class: "sss_30th btn btn-xs"
            tr
              td 
                strong SSS Loan 30th
              td
                =text_field_tag :sss_ln_30th, nil, class: "sss_ln_30th btn btn-xs"
              td 
                strong Insurance   
              td
                =text_field_tag :insurance, nil, class: "insurance btn btn-xs"    
            tr
              td.text-center colspan="4" 
                strong DATA TABLE 3
            tr
              td 
                strong Margot CA
              td
                =text_field_tag :margot_ca, nil, class: "margot_ca btn btn-xs"
              td 
                strong Adjustments   
              td
                =text_field_tag :adjustments, nil, class: "adjustments btn btn-xs"
            tr
              td 
                strong 13th Pay   
              td
                =text_field_tag :pay_13th, nil, class: "pay_13th btn btn-xs"
              td 
                strong Total  
              td
                =text_field_tag :total, nil, class: "total btn btn-xs"      
                 
                           
        .modal-footer
          button.btn.btn-default data-dismiss="modal" type="button"  Close
          = submit_tag 'Update', class: "btn btn-primary" 
#newLeave.modal.fade aria-labelledby="newLeaveLabel" role="dialog" tabindex="-1" 
  .modal-dialog role="document" 
    = form_for new_leave, url: leaves_path
        .modal-content
          .modal-header
            button.close aria-label="Close" data-dismiss="modal" type="button" 
              span aria-hidden="true"  &times;
            h4#newLeaveLabel.modal-title 
              |Apply Leave for &nbsp;
              span.employee-name
          .modal-body
            .form-group
              = label_tag :kind, 'Leave Type:', class: "control-label"
              = text_field_tag :kind, nil, class: "form-control"   
            .form-group
              = label_tag :schedule, 'Schedule:', class: "control-label"
              = date_field_tag :schedule, nil, class: "form-control" 
            .form-group
              = label_tag :remarks, 'Remarks:', class: "control-label"
              = text_field_tag :remarks, nil, class: "form-control"  
            .form-group style="display:none;"
              = label_tag :employee_id, 'ID:', class: "control-label"
              = text_field_tag :employee_id, nil, class: "form-control employee-id"             
          .modal-footer
            button.btn.btn-default data-dismiss="modal" type="button"  Close
            = submit_tag 'Apply', class: "btn btn-primary"        
#changePeriod.modal.fade aria-labelledby="changePeriodLabel" role="dialog" tabindex="-1" 
  .modal-dialog role="document" 
    =form_for :period, url: datasummaries_path, method: 'GET'
        .modal-content
          .modal-header
            button.close aria-label="Close" data-dismiss="modal" type="button" 
              span aria-hidden="true"  &times;
            h4#changePeriodLabel.modal-title 
              |View Data from Timecard
          .modal-body
            .form-group
              = label_tag :from, 'Period From:', class: "control-label"
              = date_field_tag :from, period_from, class: "form-control"   
            .form-group
              = label_tag :to, 'Period To:', class: "control-label"
              = date_field_tag :to, period_to, class: "form-control"           
          .modal-footer
            button.btn.btn-default data-dismiss="modal" type="button"  Close
            = submit_tag 'Display', class: "btn btn-primary"
#savedData.modal.fade aria-labelledby="savedDataLabel" role="dialog" tabindex="-1" 
  .modal-dialog role="document" 
    =form_for :period, url: datasummaries_path, method: 'GET'
        .modal-content
          .modal-header
            button.close aria-label="Close" data-dismiss="modal" type="button" 
              span aria-hidden="true"  &times;
            h4#changePeriodLabel.modal-title 
              |Create Paydate from Timecard
          .modal-body
            .form-group
              = label_tag :from, 'Period From:', class: "control-label"
              = date_field_tag :from, period_from, class: "form-control"   
            .form-group
              = label_tag :to, 'Period To:', class: "control-label"
              = date_field_tag :to, period_to, class: "form-control" 
            .form-group
              = label_tag :paydate, 'Set Paydate:', class: "control-label"
              = date_field_tag :paydate, period_to, class: "form-control"             
          .modal-footer
            button.btn.btn-default data-dismiss="modal" type="button"  Close
            = submit_tag 'Save', class: "btn btn-primary"
#viewData.modal.fade aria-labelledby="viewDataLabel" role="dialog" tabindex="-1" 
  .modal-dialog role="document" 
    .modal-content
      .modal-header
        button.close aria-label="Close" data-dismiss="modal" type="button" 
          span aria-hidden="true"  &times;
        h4#viewDataLabel.modal-title 
          |Choose Paydate
      .modal-body
        table.table
          thead
            th Paydate
            th Period 
            th Open as
          -datasummaries.each do |s|
            tr
              td.text-center =s.paydate.to_date
              td 
                a.badge href="javascript:;"
                  i.fa.fa-calendar 
                  |&nbsp; 
                  =s.period_from.to_date
                  |&nbsp; 
                  i.fa.fa-arrow-circle-right 
                  |&nbsp; 
                  =s.period_to.to_date
              td 
                =link_to 'Data Summary', datasummaries_path(paydate:s.paydate.to_date, from: s.period_from.to_date, to: s.period_to.to_date, data:'saved'), class: "btn btn-success btn-flat btn-xs", style: "margin-right: 5px;"
                =link_to 'Pay Summary', paysummaries_path(paydate:s.paydate.to_date, from: s.period_from.to_date, to: s.period_to.to_date), class: "btn btn-primary btn-flat btn-xs", style: "margin-right: 5px;"
                =link_to 'Remove', remove_datasummaries_path(paydate:s.paydate.to_date, from: s.period_from.to_date, to: s.period_to.to_date, data:'saved'), data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-flat btn-xs"
      .modal-footer
        =form_tag import_datasummaries_path, multipart: true 
          .input-group
            =file_field_tag :file, class: 'form-control'
            .input-group-btn
              = submit_tag 'Import', class: "btn btn-primary"            
                                         
javascript:
  $(function () {
    $('#showMore').on('show.bs.modal', function (event) {
      var button    = $(event.relatedTarget);
      var employee  = button.data('employee');
      var id        = button.data('id');
      var summary   = button.parent('li').find('.summary-data').text();
      var modal     = $(this);

      modal.find('.summary-employee').text(employee); 

      modal.find('form').attr('action', '#{datasummaries_path}/'+id); 
      modal.find('form').attr('id', 'edit_datasummary_'+id); 

      $.each( JSON.parse(summary), function(key,value) {
        if(value==null){ value=0; }
        modal.find('.'+key).val(parseFloat(value).toFixed(1));  
      });
    });

    $('#newLeave').on('show.bs.modal', function (event) {
      var button   = $(event.relatedTarget);
      var id       = button.data('id');
      var employee = button.data('employee');
      var leaves   = button.data('leaves');
      var modal    = $(this);

      modal.find('.employee-name').text(employee);
      modal.find('.employee-id').val(id);
    });
  });

  


