doctype html
html
  head
    meta content=("text/html; charset=UTF-8") http-equiv="Content-Type"
  body
    h1
    | Hi, #{@e.given_name}!

    p
      | Please see attached file for your payslip.
      br
      br
    p
      | Thank you.
