section.content-header
  h1
    | Timecard
  ol.breadcrumb
    li
      =link_to '<i class="fa fa-dashboard"></i> Employee', employee_path(employee) 
    li.active Timecard
/! Main content
section.content
  .row
    .col-md-3
      .box.box-solid

        .box-body.box-profile
          /=image_tag "margot-logo-circle.png", class: "profile-user-img img-responsive img-circle"
          .text-center style="margin: 10px;"
            i.fa.fa-user-circle-o.fa-5x
          h3.profile-username.text-center =employee.given_name + ' ' + employee.last_name
          p.text-muted.text-center= employee.designation
          ul.list-group.list-group-unbordered
            li.list-group-item
              b Total Days
              a.pull-right.summary-total-days 0
            li.list-group-item
              b Tardy
              a.pull-right.summary-tardy 00:00:00
            li.list-group-item
              b Regular OT
              a.pull-right.summary-reg-ot 00:00:00  
      .box.box-solid
        .box-header.with-border
          h4.text-center IMPORT DTR
        .box-body
          =form_tag import_employee_timecards_path, multipart: true 
            .input-group
              =file_field_tag :file, class: 'form-control' 
              .input-group-btn
                =submit_tag "Import", class: 'btn btn-sm btn-success btn-block btn-flat'
          ul#empAccordion.nav.nav-stacked
            li.panel
              a data-parent="#empAccordion" data-toggle="collapse" href="#employees"  
                i.fa.fa-users 
                |&nbsp; VIEW EMPLOYEES 
              ul#employees.collapse.list-unstyled
                -employees.each do |e|
                  li
                    =link_to ' &nbsp; &nbsp; <i class="fa fa-user"></i> &nbsp; ' + e.last_name + ', ' + e.given_name, employee_timecards_path(e)
            
      
    /! /.col

    .col-md-9
      .box.box-primary
        .box-body.no-padding
          /! THE CALENDAR
          #calendar
        /! /.box-body
      /! /. box
    /! /.col
  /! /.row
/! /.content

javascript:
  $(function () {
    Number.prototype.padZero= function(len){
     var s= String(this), c= '0';
     len= len || 2;
     while(s.length < len) s= c + s;
     return s;
    }

    /* initialize the calendar
     -----------------------------------------------------------------*/
    //Date for the calendar events (dummy data)
    var date  = new Date();
    var d     = date.getDate(),
        m     = date.getMonth(),
        y     = date.getFullYear();

    // var timecards = #{employee.timecards.to_json};
    // console.log(#{@timecards.to_json});       

    $('.datetime').val(y+'-'+m+'-'+d);
            
    $('#calendar').fullCalendar({
      header: {
        left: 'prev,next today',
        center: 'title',
        right: 'month,agendaWeek,agendaDay'
      },
      buttonText: {
        today: 'today',
        month: 'month',
        week: 'week',
        day: 'day'
      },

      dayClick: function(date, allDay, jsEvent, view) {

        // $(this).css('background-color', 'rgba(100,0,0,.1)');
        // $('.datetime').val(date.format());

        // var clickDate = view.calendar.formatDate(date,'yyyyMMdd');
      },
      eventOrder: "title",

      //Random default events
      // events: #{@timecards.to_json},
      events: function (startDt, endDt, timezone, callback) {

        var events        = [];
        var selectedDate  = $('#calendar').fullCalendar('getDate');
        var currentMonth  = (selectedDate.month() + 1).padZero();
        var currentYear   = selectedDate.year();

        $.ajax({
           url: '#{logs_employee_timecards_path}.json',
           type: 'POST',
           data: { month: currentYear+'-'+currentMonth },
           error: function (error) {
             alert('There was an error while fetching time logs!');
             $('.fc-content').unblock();
           },
           success: function (result) {
              events = result; 
              callback(events);
           }
       });

        $.ajax({
           url: '#{summary_employee_timecards_path}.json',
           type: 'POST',
           data: { month: currentYear+'-'+currentMonth },
           error: function (error) {
              $('body').find('.summary-total-days').text(0);
              $('body').find('.summary-tardy').text('00:00:00');
              $('body').find('.summary-reg-ot').text('00:00:00');
           },
           success: function (result) {
            console.log(result);
              $('body').find('.summary-total-days').text(result['total_days']);
              $('body').find('.summary-tardy').text(result['tardy']);
              $('body').find('.summary-reg-ot').text(result['reg_ot']);
           }
       });

      },
      
      editable: false,
      droppable: false
    });

   
  });