section.content-header
  h1
    | Track Leaves
    small =year
  .breadcrumb
    .btn-group role="group" style="margin-right: 5px;"
      button.btn.btn-default.btn-flat.btn-xs.dropdown-toggle aria-expanded="true" aria-haspopup="false" data-toggle="dropdown" type="button"
        | Options &nbsp;
        span.caret

      ul.dropdown-menu.dropdown-menu-right
        li
          a href="javascript:;" data-target="#importTracking" data-toggle="modal"
            i.fa.fa-address-card-o
            |Import Tracking
/! Main content
section.content
  .row
    .col-md-12
      .nav-tabs-custom

        ul.nav.nav-tabs
          -branches.each do |b|
            li class="#{active(b.branch)}"
              a data-toggle="tab" href="##{b.branch.parameterize.underscore.classify}" #{b.branch}  

          .pull-right style="margin: 5px"
            span.badge style="margin-left: 5px"
              i.fa.fa-star
              | &nbsp; Remaining  
              
            span.badge style="margin-left: 5px"
              i.fa.fa-plane 
              | &nbsp; Used  

        .tab-content
          -branches.each do |b| 
            javascript:
              $(function () {
                $("#employees#{b.branch.parameterize.underscore.classify}").DataTable(); 
              });         
            div id="#{b.branch.parameterize.underscore.classify}" class="tab-pane #{active(b.branch)}"
              .table-responsive
                table.table.table-bordered.table-striped id="employees#{b.branch.parameterize.underscore.classify}"
                  thead
                    tr
                      th NAME
                      th colspan="2" style="padding-right:0px;" SICK
                      th colspan="2" style="padding-right:0px;" VACATION
                      th colspan="2" style="padding-right:0px;" MATERNITY
                      th colspan="2" style="padding-right:0px;" PATERNITY
                      th colspan="2" style="padding-right:0px;" EMERGENCY
                      th colspan="2" style="padding-right:0px;" BIRTHDAY
                      th
                    tr
                      th
                      th.success 
                        i.fa.fa-star
                      th.danger 
                        i.fa.fa-plane
                      th.success 
                        i.fa.fa-star
                      th.danger 
                        i.fa.fa-plane
                      th.success 
                        i.fa.fa-star
                      th.danger 
                        i.fa.fa-plane
                      th.success 
                        i.fa.fa-star
                      th.danger 
                        i.fa.fa-plane
                      th.success 
                        i.fa.fa-star
                      th.danger 
                        i.fa.fa-plane
                      th.success 
                        i.fa.fa-star
                      th.danger 
                        i.fa.fa-plane
                      th
                  tbody
                    -if check_tracking
                      -employees.where(:branch => b.branch).each do |employee|
                        -track = employee.trackings.where(:year=>year).last
                        -used  = employee.datasummaries.where(:paydate=>"Jan, 1 #{year}".to_date.."Dec, 30 #{year}".to_datetime.end_of_month.to_date)
                        -sl    = used.select { |u| u.sl.present? }.map(&:sl).collect{|u|u.to_f}.inject(:+) || 0
                        -vl    = used.select { |u| u.vl.present? }.map(&:vl).collect{|u|u.to_f}.inject(:+) || 0
                        -ml    = used.select { |u| u.ml.present? }.map(&:ml).collect{|u|u.to_f}.inject(:+) || 0
                        -pl    = used.select { |u| u.pl.present? }.map(&:pl).collect{|u|u.to_f}.inject(:+) || 0
                        -bl    = used.select { |u| u.bl.present? }.map(&:bl).collect{|u|u.to_f}.inject(:+) || 0
                        -el    = used.select { |u| u.el.present? }.map(&:el).collect{|u|u.to_f}.inject(:+) || 0
                        tr
                          td #{employee.last_name}, #{employee.given_name} #{employee.middle_name}
                          td.success =track.present? ? track.sl.to_f - sl.to_f : 0
                          td.danger =sl.to_f
                          td.success =track.present? ? track.vl.to_f - vl.to_f : 0
                          td.danger =vl.to_f
                          td.success =track.present? ? track.ml.to_f - ml.to_f : 0
                          td.danger =ml.to_f
                          td.success =track.present? ? track.pl.to_f - pl.to_f : 0
                          td.danger =pl.to_f
                          td.success =track.present? ? track.bl.to_f - bl.to_f : 0
                          td.danger =bl.to_f
                          td.success =track.present? ? track.el.to_f - el.to_f : 0
                          td.danger =el.to_f
                          td
                            .btn-group role="group"
                              button.btn.btn-default.btn-flat.btn-xs.dropdown-toggle aria-expanded="true" aria-haspopup="false" data-toggle="dropdown" type="button"
                                i.fa.fa-ellipsis-h
                              ul.dropdown-menu.dropdown-menu-right
                                li
                                  .leaves-data style="display:none;"
                                    =leaves(employee).to_json
                                  .leave-tracking style="display:none;"
                                    =create_tracking(employee).to_json
                                  a href="javascript:;" data-target="#newLeave" data-toggle="modal" data-id="#{employee.id}" data-employee="#{employee.given_name}"
                                    i.fa.fa-list-alt
                                    | Details
                                li
                                  =link_to '<i class="fa fa-user-circle-o"></i> Account', employee_path(employee)
                                li
                                  =link_to '<i class="fa fa-clock-o"></i> Timecard', employee_timecards_path(employee)

#importTracking.modal.fade aria-labelledby="importTrackingLabel" role="dialog" tabindex="-1"
  .modal-dialog role="document"
    =form_tag import_trackings_path, multipart: true
        .modal-content
          .modal-header
            button.close aria-label="Close" data-dismiss="modal" type="button"
              span aria-hidden="true"  &times;
            h4#changePeriodLabel.modal-title
              |Import Tracking.
          .modal-body
            .form-group
              =label_tag :file, 'Choose File:', class: "control-label"
              =file_field_tag :file, class: 'form-control'
          .modal-footer
            button.btn.btn-default data-dismiss="modal" type="button"  Close
            = submit_tag 'Import', class: "btn btn-primary"
#newLeave.modal.fade aria-labelledby="newLeaveLabel" role="dialog" tabindex="-1"
  .modal-dialog role="document"
    .modal-content

        /=form_for new_leave, url: leaves_path
        .modal-header
          button.close aria-label="Close" data-dismiss="modal" type="button"
            span aria-hidden="true"  &times;
          h4#newLeaveLabel.modal-title
            |LEAVES FOR &nbsp;
            span.employee-name
        .modal-body
          /.row
            .col-sm-2.col-xs-12
              .form-group
                = label_tag :kind, 'Type:', class: "control-label"
                = text_field_tag :kind, nil, class: "form-control"
            .col-sm-4.col-xs-12
              .form-group
                = label_tag :schedule, 'Schedule:', class: "control-label"
                = date_field_tag :schedule, nil, class: "form-control"
            .col-sm-3.col-xs-12
              .form-group
                = label_tag :remarks, 'Remarks:', class: "control-label"
                = text_field_tag :remarks, nil, class: "form-control"
              .form-group style="display:none;"
                = label_tag :employee_id, 'ID:', class: "control-label"
                = text_field_tag :employee_id, nil, class: "form-control employee-id"
            .col-sm-3.col-xs-12
              br
              =submit_tag 'Apply', class: "btn btn-primary pull-right"
          table.table.table-bordered
            thead
              th Paydate
              th SL
              th VL
              th ML
              th PL
              th BL
              th EL
            tbody.leaves-table

          hr
          =form_for tracking, url: trackings_path, method: :patch
            .row
              .col-xs-5
                .input-group
                  span.input-group-addon Tracking in year
                  =text_field_tag :year, nil, class: "form-control text-center"
              .col-xs-2.pull-right
                =submit_tag 'Update', class: "btn btn-success pull-right"
            table.table
              tr
                td
                  .input-group
                    span.input-group-addon SL
                    =text_field_tag :sl, nil, class: "form-control text-center"
                td
                  .input-group
                    span.input-group-addon VL
                    =text_field_tag :vl, nil, class: "form-control text-center"
                td
                  .input-group
                    span.input-group-addon ML
                    =text_field_tag :ml, nil, class: "form-control text-center"
                td
                  .input-group
                    span.input-group-addon PL
                    =text_field_tag :pl, nil, class: "form-control text-center"
                td
                  .input-group
                    span.input-group-addon BL
                    =text_field_tag :bl, nil, class: "form-control text-center"
                td
                  .input-group
                    span.input-group-addon EL
                    =text_field_tag :el, nil, class: "form-control text-center"


javascript:
  $(function () {

    $('#importEmployee').on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget)
    });

    $('#newLeave').on('show.bs.modal', function (event) {
      var button   = $(event.relatedTarget);
      var id       = button.data('id');
      var employee = button.data('employee');
      var tracking = button.parent('li').find('.leave-tracking').text();
      var leaves   = button.parent('li').find('.leaves-data').text();
      var modal    = $(this);

      modal.find('form.new_tracking').attr('action', '#{trackings_path}/'+id);
      modal.find('form.new_tracking').attr('id', 'edit_trackings_'+id)

      modal.find('.employee-name').text(employee);
      modal.find('.employee-id').val(id);

      $.each( JSON.parse(tracking), function(key,value) {
        if(key!='year') {
          modal.find('#'+key).val(parseFloat(value).toFixed(1));
        }
        else {
          modal.find('#'+key).val(parseFloat(value));
        }

      });

      leaveHtml = '';
      $.each( JSON.parse(leaves), function(key,value) {
        leaveHtml += "<tr>"
        leaveHtml += "<td>" + value.paydate + "</td>"
        leaveHtml += "<td>" + value.sl + "</td>"
        leaveHtml += "<td>" + value.vl + "</td>"
        leaveHtml += "<td>" + value.ml + "</td>"
        leaveHtml += "<td>" + value.pl + "</td>"
        leaveHtml += "<td>" + value.bl + "</td>"
        leaveHtml += "<td>" + value.el + "</td>"
        leaveHtml += "</tr>"
      });

      $('.leaves-table').html(leaveHtml);
    });


  });
