.login-box
  .login-logo
    a href="javascript:;" 
      b=COMPANY["name"]
      |&nbsp;
      =COMPANY["extension"]
  /! /.login-logo
  .login-box-body
  	=form_for(resource, as: resource_name, url: new_user_session_path) do |f| 
			p.login-box-msg Sign in to start your session
			.form-group.has-feedback
				=f.email_field :email, autofocus: true, placeholder: "Email", class: 'form-control'
				span.glyphicon.glyphicon-envelope.form-control-feedback
			.form-group.has-feedback
				=f.password_field :password, placeholder: "Password", class: 'form-control'
				span.glyphicon.glyphicon-lock.form-control-feedback

			.row
				.col-xs-8
				.col-xs-4
					=f.submit "Sign in", class: 'btn btn-primary btn-block btn-flat'
			/=render "users/shared/links"
    

 
