-employees.each do |e|
  -if pay(e).present?
    .per-page
      .text-center
        div style="width: 500px; margin: 0 auto; position: relative"
          =image_tag COMPANY["logo_payslip"], style: "position: absolute; left: 0px; width: 60px; height: 60px;"
          h4.text-center
            =COMPANY["name"].upcase 
            | &nbsp; 
            =COMPANY["extension"].upcase
            | &nbsp; 
            =COMPANY["description"]
          p style=("margin-top: -15px; width: 250px; margin: 0 auto;")
            =COMPANY["address"]
          h5 PAYSLIP
        .row
          .col-xs-6
            | Covered Period : &nbsp;
            strong #{period_from} to #{period_to}
          .col-xs-6
            | Pay Date : &nbsp;
            strong #{paydate}
        .row
          .col-xs-6
            table.table.table-bordered.table-striped
              tr
                th Employee Details
                th
              tr
                td Employee #
                td =e.employee_no
              tr
                td Name
                td #{e.last_name}, #{e.given_name} #{e.middle_name}
              tr
                td Site Code
                td 4001
              tr
                td Designation
                td #{e.designation}
              tr
                td Department
                td #{e.branch}
              tr
                td Team
                td #{e.branch}
              tr
                td Monthly Rate
                td PHP #{commas('%.2f' % e.basic_salary)}
              tr
                td Daily Rate
                td PHP #{commas('%.2f' % e.daily_rate)}
              tr
                td Hourly Rate
                td PHP #{commas('%.2f' % e.hourly_rate)}
          .col-xs-6
            table.table.table-bordered.table-striped
              tr
                th Other Details
                th
              tr
                td Tax Code
                td #{e.tax_exemption || 0}
              tr
                td TIN
                td #{e.tin_no}
              tr
                td SSS No
                td #{e.sss_no}
              tr
                td PHIC No.
                td #{e.philhealth_no}
              tr
                td HDMF No.
                td #{e.hdmf_no}
              tr
                td Bank Name
                td BANK OF THE PHILIPPINE ISLAND
              tr
                td Bank Account
                td #{e.bankaccount_no}
              tr
                td Payroll Frequency
                td SEMI-MONTHLY
              tr
                td Employment Type
                td #{e.employment_status}
        .row
          .col-xs-6
            table.table.table-bordered.table-striped
              tr
                th Earnings
                th This Period
              tr
                td Basic
                td PHP #{commas('%.2f' % (e.basic_salary.to_f / 2) || 0)}
              tr
                td Tardy/Absences
                td PHP #{commas('%.2f' % (pay(e)[0][:tardy] + pay(e)[0][:absences]) || 0)}
              tr
                td Night Differential
                td PHP #{commas('%.2f' % pay(e)[0][:night_diff] || 0)}
              tr
                td 13th Month
                td PHP #{commas('%.2f' % pay(e)[0][:pay_13th] || 0)}
              tr
                td Overtime
                td PHP #{commas('%.2f' % pay(e)[1][:ot_total] || 0)}
              tr
                th Sub Total
                th PHP #{commas('%.2f' % pay(e)[1][:earnings_total] || 0)}
          .col-xs-6
            table.table.table-bordered.table-striped
              tr
                th Government Deductions
                th This Period
              tr
                td SSS
                td PHP #{commas('%.2f' % pay(e)[0][:sss_30th] || 0)}
              tr
                td PHIC
                td PHP #{commas('%.2f' % pay(e)[0][:philhealth_15th] || 0)}
              tr
                td HDMF
                td PHP #{commas('%.2f' % pay(e)[0][:hdmf_15th] || 0)}
              tr
                td Withholding Tax
                td PHP #{commas('%.2f' % pay(e)[2][:net_tax] || 0)}
              tr
                td ADJUSTMENT
                td PHP #{commas('%.2f' % pay(e)[0][:adjustments] || 0)}
              tr
                th Sub Total
                th PHP #{commas('%.2f' % pay(e)[3][:gov_deduct_total] || 0)}
        .row
          .col-xs-6
            table.table.table-bordered.table-striped
              tr
                th Other Pays
                th
              tr
                td Allowance
                td PHP #{commas(e.monthly.to_f / 2 || 0)}
              tr
                td OT Meal
                td PHP #{commas('%.2f' % pay(e)[0][:ot_meals] || 0)}
              tr
                td VL Conversion
                td PHP #{commas('%.2f' % pay(e)[0][:vl] || 0)}
              tr
                td SL Conversion
                td PHP #{commas('%.2f' % pay(e)[0][:sl] || 0)}
              tr
                td COLA
                td PHP #{commas(e.cola.to_f / 2 || 0)}
              tr
                td REFUND
                td PHP #{commas('%.2f' % pay(e)[0][:refund] || 0)}
              tr
                td TAX CREDITS
                td PHP #{commas('%.2f' % pay(e)[0][:tax_credit] || 0)}
              tr
                th Sub Total
                th PHP #{commas('%.2f' % pay(e)[1][:other_pays_total] || 0)}
          .col-xs-6
            table.table.table-bordered.table-striped
              tr
                th Loans and Others
                th
              tr
                td SSS Loan
                td PHP #{commas('%.2f' % pay(e)[0][:sss_ln_30th] || 0)}
              tr
                td HDMF Loan
                td PHP #{commas('%.2f' % pay(e)[0][:hdmf_ln_15th] || 0)}
              tr
                td Cash Advance
                td PHP #{commas('%.2f' % pay(e)[0][:margot_ca] || 0)}
              tr
                td Other Deductions
                td PHP #{commas('%.2f' % pay(e)[0][:other_deductions] || 0)}
              tr
                th Sub Total
                th PHP #{commas('%.2f' % pay(e)[1][:ln_others_total] || 0)}

          .div
            | NET PAY :&nbsp;
            strong PHP #{commas('%.2f' % (pay(e)[1][:other_pays_total] + pay(e)[1][:earnings_total] - pay(e)[3][:gov_deduct_total] - pay(e)[1][:ln_others_total]))}
            br
            | Gross Pay :&nbsp;
            strong PHP #{commas('%.2f' % (pay(e)[1][:other_pays_total] + pay(e)[1][:earnings_total]))}
        .row
          .col-xs-9
            table.table.table-bordered.table-striped
              tr
                th colspan="5"  Overtime Pay Details
              tr
                th
                th HR Rate
                th Rate
                th Hours
                th Amount
              tr
                td Regular
                td PHP #{commas('%.2f' % e.hourly_rate)}
                td 1.25
                td #{pay(e)[0][:reg_ot_time] || 0}
                td PHP #{commas('%.2f' % pay(e)[0][:reg_ot])}
              tr
                td Restday
                td PHP #{commas('%.2f' % e.hourly_rate)}
                td 1.30
                td #{pay(e)[0][:rd_ot_time] || 0}
                td PHP #{commas('%.2f' % pay(e)[0][:rd_ot])}
              tr
                td Reg Holiday
                td PHP #{commas('%.2f' % e.hourly_rate)}
                td 2.00
                td #{pay(e)[0][:hot_time] || 0}
                td PHP #{commas('%.2f' % pay(e)[0][:hot])}
              tr
                td SP Holiday
                td PHP #{commas('%.2f' % e.hourly_rate)}
                td 1.30
                td #{pay(e)[0][:sp_ot_time] || 0}
                td PHP #{commas('%.2f' % pay(e)[0][:sp_ot])}
              tr
                td Extended
                td PHP #{commas('%.2f' % e.hourly_rate)}
                td 0.30
                td #{pay(e)[0][:ext_ot_time] || 0}
                td PHP #{commas('%.2f' % pay(e)[0][:ext_ot])}
              tr
                th colspan="4"  Total
                th PHP #{commas('%.2f' % pay(e)[1][:ot_total])}
          .col-xs-3
            table.table.table-bordered.table-striped
              tr
                th Leaves
                th Used
                th Remaining
              tr
                td Vacation
                td #{pay(e)[0][:vl_used] || 0}
                td #{pay(e)[0][:vl_left] || 0}
              tr
                td Sick
                td #{pay(e)[0][:sl_used] || 0}
                td #{pay(e)[0][:sl_left] || 0}
        .row
          .col-xs-12.text-center
            em Computer generated payslip on #{Time.now.to_date}. No Signature required.
