section.content-header
  h1
    | Employees
  .breadcrumb
    .btn-group role="group" style="margin-right: 5px;"
      button.btn.btn-default.btn-flat.btn-xs.dropdown-toggle aria-expanded="true" aria-haspopup="false" data-toggle="dropdown" type="button" 
        | Options &nbsp;
        span.caret

      ul.dropdown-menu.dropdown-menu-right
        li 
          a href="javascript:;" data-target="#newEmployee" data-toggle="modal" 
            i.fa.fa-user-plus 
            |New Employee     
        li 
          a href="javascript:;" data-target="#importEmployee" data-toggle="modal" 
            i.fa.fa-address-card-o 
            |Import List  
/! Main content
section.content
  .row 
    .col-md-12
      .nav-tabs-custom
        ul.nav.nav-tabs
          -branches.each do |b|
            li class="#{active(b.branch)}"
              a data-toggle="tab" href="##{b.branch.parameterize.underscore.classify}" #{b.branch} 
            
        /! Profile Image
        .tab-content 
          -branches.each do |b| 
            
            div id="#{b.branch.parameterize.underscore.classify}" class="tab-pane #{active(b.branch)}"
              =react_component 'Employees', { branch: b.branch, tableId: 'employees'+b.branch.parameterize.underscore.classify }
                    /-employees.where(:branch => b.branch).each do |employee|
                      tr
                        td= employee.last_name
                        td= employee.given_name
                        td= employee.middle_name
                        td= employee.job_no
                        td= employee.employee_no
                        td= employee.id
                        td
                          .btn-group role="group" 
                            button.btn.btn-default.btn-flat.btn-xs.dropdown-toggle aria-expanded="true" aria-haspopup="false" data-toggle="dropdown" type="button" 
                              i.fa.fa-ellipsis-h
                            ul.dropdown-menu.dropdown-menu-right
                              li
                                =link_to '<i class="fa fa-user-circle-o"></i> Account', employee_path(employee)
                              li
                                =link_to '<i class="fa fa-clock-o"></i> Timecard', employee_timecards_path(employee)      
            /javascript:
              $(function () {
                $("#employees#{b.branch.parameterize.underscore.classify}").DataTable(); 
              });         
           
#newEmployee.modal.fade aria-labelledby="newEmployeeLabel" role="dialog" tabindex="-1" 
  .modal-dialog role="document" 
    = form_for new_employee, url: employees_path
        .modal-content
          .modal-header
            button.close aria-label="Close" data-dismiss="modal" type="button" 
              span aria-hidden="true"  &times;
            h4#newEmployeeLabel.modal-title New Employee
          .modal-body
            .form-group
              = label_tag :job_no, 'Job No:', class: "control-label"
              = text_field_tag :job_no, nil, class: "form-control" 
            .form-group
              = label_tag :employee_no, 'Employee No:', class: "control-label"
              = text_field_tag :employee_no, nil, class: "form-control"   
            .form-group
              = label_tag :given_name, 'Given Name:', class: "control-label"
              = text_field_tag :given_name, nil, class: "form-control"  
            .form-group
              = label_tag :middle_name, 'Middle Name:', class: "control-label"
              = text_field_tag :middle_name, nil, class: "form-control"    
            .form-group
              = label_tag :last_name, 'Last Name:', class: "control-label"
              = text_field_tag :last_name, nil, class: "form-control"    
            .form-group
              = label_tag :branch, 'Branch:', class: "control-label"
              = text_field_tag :branch, nil, class: "form-control"            
          .modal-footer
            button.btn.btn-default data-dismiss="modal" type="button"  Close
            = submit_tag 'Save', class: "btn btn-primary"
 
           

#importEmployee.modal.fade aria-labelledby="importEmployeeLabel" role="dialog" tabindex="-1" 
  .modal-dialog role="document" 
    =form_tag import_employees_path, multipart: true 
        .modal-content
          .modal-header
            button.close aria-label="Close" data-dismiss="modal" type="button" 
              span aria-hidden="true"  &times;
            h4#changePeriodLabel.modal-title 
              |Import Employees from File.
          .modal-body
            .form-group
              =label_tag :file, 'Choose File:', class: "control-label"
              =file_field_tag :file, class: 'form-control'        
          .modal-footer
            button.btn.btn-default data-dismiss="modal" type="button"  Close
            = submit_tag 'Import', class: "btn btn-primary"                     

javascript:
  $(function () {
    $('#newEmployee').on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget) 
    });

    $('#importEmployee').on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget) 
    });
  });

  


