/! Content Header (Page header)
section.content-header
  h1
    | Employee Profile
  ol.breadcrumb
    li
      a href="#" 
        i.fa.fa-dashboard
        | Payroll
    li
      a href="#{employees_path}"  Employees
    li.active Profile
/! Main content
section.content
  .row
    .col-md-3
      /! Profile Image
      .box.box-solid
        .box-body.box-profile 
          /=image_tag "margot-logo-circle.png", class: "profile-user-img img-responsive img-circle"
          .text-center style="margin: 10px;"
          	i.fa.fa-user-circle-o.fa-5x
          h3.profile-username.text-center =name
          p.text-muted.text-center =employee.designation
          ul.list-group.list-group-unbordered
            li.list-group-item
              b Basic Salary
              a.pull-right = employee.basic_salary.present? ? '%.2f' % employee.basic_salary : 0
            li.list-group-item
              b Daily Rate
              a.pull-right = employee.daily_rate.present? ? '%.2f' % employee.daily_rate  : 0
          =link_to "Timecard", employee_timecards_path(employee), class: "btn btn-default btn-flat btn-block"     
          =link_to "Delete", employee_path(employee), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-flat btn-block"

        /! /.box-body
      /! /.box
      /! About Me Box
      .box.box-primary
        .box-header.with-border
          h3.box-title About Me
        /! /.box-header
        .box-body
          strong
            i.fa.fa-book.margin-r-5
            | Education
          p.text-muted
            = employee.education
          hr/
          strong
            i.fa.fa-map-marker.margin-r-5
            | Address
          p.text-muted = employee.address
          hr/
          strong
            i.fa.fa-file-text-o.margin-r-5
            | Motto
          p = employee.motto
        /! /.box-body
      /! /.box
    /! /.col
    .col-md-9
    	=form_for employee, url: employee_path(employee)
				.nav-tabs-custom
				  =link_to "Back", employees_path, class: "btn btn-default btn-flat btn-sm pull-right", style: "margin: 5px 10px; 5px 0px"
				  =submit_tag "Update", class: 'btn btn-primary btn-flat btn-sm pull-right', style: 'margin: 5px 0'
				  ul.nav.nav-tabs
				    li.active
				      a data-toggle="tab" href="#personal" Personal
				    li
				      a data-toggle="tab" href="#basic" Basic  
				    li
				      a data-toggle="tab" href="#allowance" Allowance    
				    li.dropdown
						  a.dropdown-toggle data-toggle="dropdown" href="#" 
						    | Others &nbsp;
						    span.caret
						  ul.dropdown-menu
						    li role="presentation" 
						      a data-toggle="tab" href="#government" role="menuitem" tabindex="-1"  Government
						    li role="presentation" 
						      a data-toggle="tab" href="#taxation" role="menuitem" tabindex="-1"  Taxation
						    li role="presentation" 
						      a data-toggle="tab" href="#loans" role="menuitem" tabindex="-1"  Loans 
						    li role="presentation" 
						      a data-toggle="tab" href="#numbers" role="menuitem" tabindex="-1"  Numbers
      
				  .tab-content            
						#personal.active.tab-pane
						  .form-horizontal
								.form-group
									=label_tag :branch, 'Branch', class: "col-sm-2 control-label"
									.col-sm-10
										=text_field_tag :branch, employee.branch, class: "form-control"
								.form-group
									=label_tag :job_no, 'Job No', class: "col-sm-2 control-label"
									.col-sm-10
										=text_field_tag :job_no, employee.job_no, class: "form-control"
								.form-group
									=label_tag :employee_no, 'Employee No', class: "col-sm-2 control-label"
									.col-sm-10
										=text_field_tag :employee_no, employee.employee_no, class: "form-control"
								.form-group
									=label_tag :given_name, 'Given Name', class: "col-sm-2 control-label"
									.col-sm-10
										=text_field_tag :given_name, employee.given_name, class: "form-control"				
								.form-group
									=label_tag :middle_name, 'Middle Name', class: "col-sm-2 control-label"
									.col-sm-10
										=text_field_tag :middle_name, employee.middle_name, class: "form-control"
								.form-group
									=label_tag :last_name, 'Last Name', class: "col-sm-2 control-label"
									.col-sm-10
										=text_field_tag :last_name, employee.last_name, class: "form-control"
								.form-group
									=label_tag :email, 'Email', class: "col-sm-2 control-label"
									.col-sm-10
										=text_field_tag :email, employee.email, class: "form-control"		
								.form-group
									=label_tag :address, 'Address', class: "col-sm-2 control-label"
									.col-sm-10
										=text_field_tag :address, employee.address, class: "form-control"
								.form-group
									=label_tag :contact_no, 'Contact No', class: "col-sm-2 control-label"
									.col-sm-10
										=text_field_tag :contact_no, employee.contact_no, class: "form-control"	
								.form-group
									=label_tag :birthday, 'Birthday', class: "col-sm-2 control-label"
									.col-sm-10
										=text_field_tag :birthday, employee.birthday, class: "form-control"	
								.form-group
									=label_tag :civil_status, 'Civil Status', class: "col-sm-2 control-label"
									.col-sm-10
										=text_field_tag :civil_status, employee.civil_status, class: "form-control"
								.form-group
									=label_tag :height, 'Height', class: "col-sm-2 control-label"
									.col-sm-10
										=text_field_tag :height, employee.height, class: "form-control"	
								.form-group
									=label_tag :weight, 'Weight', class: "col-sm-2 control-label"
									.col-sm-10
										=text_field_tag :weight, employee.weight, class: "form-control"	
								.form-group
									=label_tag :religion, 'Religion', class: "col-sm-2 control-label"
									.col-sm-10
										=text_field_tag :religion, employee.religion, class: "form-control"	
								.form-group
									=label_tag :education, 'Education', class: "col-sm-2 control-label"
									.col-sm-10
										=text_field_tag :education, employee.education, class: "form-control"	
								.form-group
									=label_tag :skills, 'Skills', class: "col-sm-2 control-label"
									.col-sm-10
										=text_field_tag :skills, employee.skills, class: "form-control"	
								.form-group
									=label_tag :motto, 'Motto', class: "col-sm-2 control-label"
									.col-sm-10
										=text_field_tag :motto, employee.motto, class: "form-control"	
								.form-group
									=label_tag :designation, 'Designation', class: "col-sm-2 control-label"
									.col-sm-10
										=text_field_tag :designation, employee.designation, class: "form-control"	
								.form-group
									=label_tag :team, 'Team', class: "col-sm-2 control-label"
									.col-sm-10
										=text_field_tag :team, employee.team, class: "form-control"	
								.form-group
									=label_tag :employment_status, 'Employment Status', class: "col-sm-2 control-label"
									.col-sm-10
										=text_field_tag :employment_status, employee.employment_status, class: "form-control"
								.form-group
									=label_tag :photo, 'Photo', class: "col-sm-2 control-label"
									.col-sm-10
										=text_field_tag :photo, employee.photo, class: "form-control"		
								.form-group
									=label_tag :date_hired, 'Date Hired', class: "col-sm-2 control-label"
									.col-sm-10
										=text_field_tag :date_hired, employee.date_hired.present? ? employee.date_hired.to_date : nil, class: "form-control"	

						#basic.tab-pane
						  .form-horizontal
								.form-group
									=label_tag :basic_salary, 'Basic Salary', class: "col-sm-2 control-label"
									.col-sm-10
										=number_field_tag :basic_salary, employee.basic_salary, class: "form-control"	
								.form-group
									=label_tag :daily_rate, 'Daily Rate', class: "col-sm-2 control-label"
									.col-sm-10
										=number_field_tag :daily_rate, employee.daily_rate, class: "form-control"	
								.form-group
									=label_tag :hourly_rate, 'Hourly Rate', class: "col-sm-2 control-label"
									.col-sm-10
										=number_field_tag :hourly_rate, employee.hourly_rate, class: "form-control"	
								.form-group
									=label_tag :night_diff, 'Night Diff', class: "col-sm-2 control-label"
									.col-sm-10
										=number_field_tag :night_diff, employee.night_diff, class: "form-control"			
								.form-group
									=label_tag :rata, 'RATA', class: "col-sm-2 control-label"
									.col-sm-10
										=text_field_tag :rata, employee.rata, class: "form-control"		
								.form-group
									=label_tag :pera, 'PERA', class: "col-sm-2 control-label"
									.col-sm-10
										=text_field_tag :pera, employee.pera, class: "form-control"	
								.form-group
									=label_tag :addl_comp, 'Addl Comp', class: "col-sm-2 control-label"
									.col-sm-10
										=text_field_tag :addl_comp, employee.addl_comp, class: "form-control"	
								.form-group
									=label_tag :bill_rate_per_day, 'Bill Rate / Day', class: "col-sm-2 control-label"
									.col-sm-10
										=text_field_tag :bill_rate_per_day, employee.bill_rate_per_day, class: "form-control"
								.form-group
									=label_tag :pay_type, 'Pay Type', class: "col-sm-2 control-label"
									.col-sm-10
										=text_field_tag :pay_type, employee.pay_type, class: "form-control"	
								.form-group.
									=label_tag :shift_pattern_regdays_in, 'Regdays In', class: "col-sm-2 control-label"
									.col-sm-4
										=text_field_tag :shift_pattern_regdays_in, employee.shift_pattern_regdays_in, class: "form-control"		
									=label_tag :shift_pattern_regdays_out, 'Out', class: "col-sm-2 control-label"
									.col-sm-4
										=text_field_tag :shift_pattern_regdays_out, employee.shift_pattern_regdays_out, class: "form-control"				
									
								.form-group
									=label_tag :shift_pattern_weekdays_in, 'Wkend In', class: "col-sm-2 control-label"
									.col-sm-4
										=text_field_tag :shift_pattern_weekdays_in, employee.shift_pattern_weekdays_in, class: "form-control"		
									=label_tag :shift_pattern_weekdays_out, 'Out', class: "col-sm-2 control-label"
									.col-sm-4
										=text_field_tag :shift_pattern_weekdays_out, employee.shift_pattern_weekdays_out, class: "form-control"		
											
								.form-group
									=label_tag :shift_pattern_rd, 'Restday', class: "col-sm-2 control-label"
									.col-sm-10
										/= select :language, ['en', 'de', 'fr'].to_json, {:selected=> 'en'}
										/=select_tag :shift_pattern_rd, options_for_select({ ""=>"", "Sunday" => 0, "Monday" => 1, "Tuesday" => 2, "Wednesday" => 3, "Thursday" => 4, "Friday" => 5, "Saturday" => 6 }, 1), class: "form-control"			
										select.form-control name='shift_pattern_rd'	
											option value="#{employee.shift_pattern_rd}"	 Weekend (#{employee.shift_pattern_rd})
											option value="0" Sunday	
											option value="1" Monday	
											option value="2" Tuesday	
											option value="3" Wednesday	
											option value="4" Thursday	
											option value="5" Friday	
											option value="6" Saturday	

						#allowance.tab-pane
						  .form-horizontal
								.form-group
									=label_tag :monthly, 'Monthly', class: "col-sm-2 control-label"
									.col-sm-10
										=text_field_tag :monthly, employee.monthly, class: "form-control"	
								.form-group
									=label_tag :cola, 'COLA', class: "col-sm-2 control-label"
									.col-sm-10
										=text_field_tag :cola, employee.cola, class: "form-control"
								.form-group
									=label_tag :ot_meal, 'OT Meal', class: "col-sm-2 control-label"
									.col-sm-10
										=text_field_tag :ot_meal, employee.ot_meal, class: "form-control"
								.form-group
									=label_tag :pib, 'PIB', class: "col-sm-2 control-label"
									.col-sm-10
										=text_field_tag :pib, employee.pib, class: "form-control"			
								.form-group
									=label_tag :clothing, 'Clothing', class: "col-sm-2 control-label"
									.col-sm-10
										=text_field_tag :clothing, employee.clothing, class: "form-control"		
								.form-group
									=label_tag :midyear, 'Midyear', class: "col-sm-2 control-label"
									.col-sm-10
										=text_field_tag :midyear, employee.midyear, class: "form-control"	
								.form-group
									=label_tag :loyalty, 'Loyalty', class: "col-sm-2 control-label"
									.col-sm-10
										=text_field_tag :loyalty, employee.loyalty, class: "form-control"
								.form-group
									=label_tag :year_end, 'Year End', class: "col-sm-2 control-label"
									.col-sm-10
										=text_field_tag :year_end, employee.year_end, class: "form-control"
								.form-group
									=label_tag :other_1, 'Other 1', class: "col-sm-2 control-label"
									.col-sm-10
										=text_field_tag :other_1, employee.other_1, class: "form-control"
								.form-group
									=label_tag :other_2, 'Other 2', class: "col-sm-2 control-label"
									.col-sm-10
										=text_field_tag :other_2, employee.other_2, class: "form-control"			
								.form-group
									=label_tag :other_3, 'Other 3', class: "col-sm-2 control-label"
									.col-sm-10
										=text_field_tag :other_3, employee.other_3, class: "form-control"
								.form-group
									=label_tag :dependent_1, 'Dependent 1', class: "col-sm-2 control-label"
									.col-sm-10
										=text_field_tag :dependent_1, employee.dependent_1, class: "form-control"		
								.form-group
									=label_tag :dependent_2, 'Dependent 2', class: "col-sm-2 control-label"
									.col-sm-10
										=text_field_tag :dependent_2, employee.dependent_2, class: "form-control"
								.form-group
									=label_tag :dependent_3, 'Dependent 3', class: "col-sm-2 control-label"
									.col-sm-10
										=text_field_tag :dependent_3, employee.dependent_3, class: "form-control"
								.form-group
									=label_tag :dependent_4, 'Dependent 4', class: "col-sm-2 control-label"
									.col-sm-10
										=text_field_tag :dependent_4, employee.dependent_4, class: "form-control"
								.form-group
									=label_tag :dependent_5, 'Dependent 5', class: "col-sm-2 control-label"
									.col-sm-10
										=text_field_tag :dependent_5, employee.dependent_5, class: "form-control"											

						#government.tab-pane
						  .form-horizontal
								.form-group
									=label_tag :government_sss, 'SSS', class: "col-sm-2 control-label"
									.col-sm-10
										=text_field_tag :government_sss, employee.government_sss, class: "form-control"
								.form-group
									=label_tag :government_hdmf, 'HDMF', class: "col-sm-2 control-label"
									.col-sm-10
										=text_field_tag :government_hdmf, employee.government_hdmf, class: "form-control"	
								.form-group
									=label_tag :government_philhealth, 'Philhealth', class: "col-sm-2 control-label"
									.col-sm-10
										=text_field_tag :government_philhealth, employee.government_philhealth, class: "form-control"	
								.form-group
									=label_tag :government_insurance, 'Insurance', class: "col-sm-2 control-label"
									.col-sm-10
										=text_field_tag :government_insurance, employee.government_insurance, class: "form-control"	
										
						#taxation.tab-pane
						  .form-horizontal
								.form-group
									=label_tag :tax_exemption, 'Exempt', class: "col-sm-2 control-label"
									.col-sm-10
										=text_field_tag :tax_exemption, employee.tax_exemption.present? ? employee.tax_exemption.gsub("-", "") : nil, class: "form-control"	
								.form-group
									=label_tag :tax_bracket, 'Bracket', class: "col-sm-2 control-label"
									.col-sm-10
										=text_field_tag :tax_bracket, employee.tax_bracket.present? ? employee.tax_bracket.gsub("-", "") : nil, class: "form-control"				

								.form-group
									=label_tag :tax_delta, 'Delta', class: "col-sm-2 control-label"
									.col-sm-10
										=text_field_tag :tax_delta, employee.tax_delta.present? ? employee.tax_delta.gsub("-", "") : nil, class: "form-control"				
								
								.form-group
									=label_tag :tax_rate, 'Rate', class: "col-sm-2 control-label"
									.col-sm-10
										=text_field_tag :tax_rate, employee.tax_rate, class: "form-control"				
								
								.form-group
									=label_tag :tax_add_on, 'Add on', class: "col-sm-2 control-label"
									.col-sm-10
										=text_field_tag :tax_add_on, employee.tax_add_on.present? ? employee.tax_add_on.gsub("-", ""):nil, class: "form-control"				
								.form-group
									=label_tag :tax_constant, 'Constant', class: "col-sm-2 control-label"
									.col-sm-10
										=text_field_tag :tax_constant, employee.tax_constant.present? ? employee.tax_constant.gsub("-", ""):nil, class: "form-control"				
								.form-group
									=label_tag :tax_gross, 'Gross Tax', class: "col-sm-2 control-label"
									.col-sm-10
										=text_field_tag :tax_gross, employee.tax_gross.present? ? employee.tax_gross.gsub("-", ""):nil, class: "form-control"			

						#loans.tab-pane
						  .form-horizontal
								.form-group
									=label_tag :loan_sss, 'SSS', class: "col-sm-2 control-label"
									.col-sm-10
										=text_field_tag :loan_sss, employee.loan_sss, class: "form-control"	
								.form-group
									=label_tag :loan_hdmf, 'HDMF', class: "col-sm-2 control-label"
									.col-sm-10
										=text_field_tag :loan_hdmf, employee.loan_hdmf, class: "form-control"	
								.form-group
									=label_tag :loan_margot, 'Margot', class: "col-sm-2 control-label"
									.col-sm-10
										=text_field_tag :loan_margot, employee.loan_margot, class: "form-control"
								.form-group
									=label_tag :loan_insurance, 'Insurance', class: "col-sm-2 control-label"
									.col-sm-10
										=text_field_tag :loan_insurance, employee.loan_insurance, class: "form-control"
								.form-group
									=label_tag :loan_amount, 'Loan Amount', class: "col-sm-2 control-label"
									.col-sm-10
										=text_field_tag :loan_amount, employee.loan_amount, class: "form-control"
								.form-group
									=label_tag :date_granted, 'Date Granted', class: "col-sm-2 control-label"
									.col-sm-10
										=text_field_tag :date_granted, employee.date_granted, class: "form-control"	
								.form-group
									=label_tag :loan_interest, 'Loan Interest', class: "col-sm-2 control-label"
									.col-sm-10
										=text_field_tag :loan_interest, employee.loan_interest, class: "form-control"	
								.form-group
									=label_tag :loan_payments, 'Loan Payments', class: "col-sm-2 control-label"
									.col-sm-10
										=text_field_tag :loan_payments, employee.loan_payments, class: "form-control"
								.form-group
									=label_tag :loan_balance, 'Loan Balance', class: "col-sm-2 control-label"
									.col-sm-10
										=text_field_tag :loan_balance, employee.loan_balance, class: "form-control"	

						#numbers.tab-pane
						  .form-horizontal
								.form-group
									=label_tag :bankaccount_no, 'Bank Acc No', class: "col-sm-2 control-label"
									.col-sm-10
										=text_field_tag :bankaccount_no, employee.bankaccount_no, class: "form-control"
								.form-group
									=label_tag :sss_no, 'SSS No', class: "col-sm-2 control-label"
									.col-sm-10
										=text_field_tag :sss_no, employee.sss_no, class: "form-control"
								.form-group
									=label_tag :philhealth_no, 'Philhealth No', class: "col-sm-2 control-label"
									.col-sm-10
										=text_field_tag :philhealth_no, employee.philhealth_no, class: "form-control"	
								.form-group
									=label_tag :hdmf_no, 'HDMF No', class: "col-sm-2 control-label"
									.col-sm-10
										=text_field_tag :hdmf_no, employee.hdmf_no, class: "form-control"			
								.form-group
									=label_tag :tin_no, 'TIN No', class: "col-sm-2 control-label"
									.col-sm-10
										=text_field_tag :tin_no, employee.tin_no, class: "form-control"
								.form-group
									=label_tag :hmo_no, 'HMO No', class: "col-sm-2 control-label"
									.col-sm-10
										=text_field_tag :hmo_no, employee.hmo_no, class: "form-control"
								.form-group
									=label_tag :gsis_no, 'GSIS No', class: "col-sm-2 control-label"
									.col-sm-10
										=text_field_tag :gsis_no, employee.gsis_no, class: "form-control"	
								.form-group
									=label_tag :atm_no, 'ATM No', class: "col-sm-2 control-label"
									.col-sm-10
										=text_field_tag :atm_no, employee.atm_no, class: "form-control"
								.form-group
									=label_tag :bank_name, 'Bank Name', class: "col-sm-2 control-label"
									.col-sm-10
										=text_field_tag :bank_name, employee.bank_name, class: "form-control"
								.form-group
									=label_tag :bank_branch, 'Bank Branch', class: "col-sm-2 control-label"
									.col-sm-10
										=text_field_tag :bank_branch, employee.bank_branch, class: "form-control"																																																																																																																																			
								
								 
				        
				          	
				    
