/! Content Header (Page header)
section.content-header
  h1
    | HEYHEYHEY
  ol.breadcrumb
    li
      a href="#" 
        i.fa.fa-dashboard
        | Home
    li
      a href="#"  Examples
    li.active User profile
/! Main content
section.content
  