footer.main-footer
  .pull-right.hidden-xs
    b Beta Version
    | &nbsp; 1.0
  b 
  	|Copyright &copy; 2017 | 
	|Dev Team: &nbsp;
	a href="http://kiakaha.co" 
		|Kiakaha  
	|&nbsp;I.T. Solutions.	
  |&nbsp;All rights reserved.


