header.main-header
  /! Logo
  a.logo href="#{employees_path}" 
    /! mini logo for sidebar mini 50x50 pixels
    span.logo-mini
      b=COMPANY["name"].chars.first
      |.&nbsp;
      =COMPANY["extension"].chars.first
    /! logo for regular state and mobile devices
    span.logo-lg
      b=COMPANY["name"]
      |&nbsp;
      =COMPANY["extension"]
  /! Header Navbar: style can be found in header.less
  nav.navbar.navbar-static-top role="navigation" 
    /! Sidebar toggle button
    a.sidebar-toggle data-toggle="offcanvas" href="javascript:;" role="button" 
      span.sr-only Toggle navigation
    /! Navbar Right Menu
    .navbar-custom-menu
      ul.nav.navbar-nav
        / == concept "template/admin_lte/widget/cell/messages_menu"
        / == concept "template/admin_lte/widget/cell/notifications_menu"
        / == concept "template/admin_lte/widget/cell/tasks_menu"
        / == concept("template/admin_lte/widget/cell/user_menu", user)
        ==cell(Skin::AdminLte::Widget::Cell::UserMenu, user)
        / /! Control Sidebar Toggle Button
        / li
        /   a data-toggle="control-sidebar" href="#" 
        /     i.fa.fa-gears
