/! Left side column. contains the logo and sidebar

aside.main-sidebar
  /! sidebar: style can be found in sidebar.less
  section.sidebar
    /! Sidebar user panel
    .user-panel
      .pull-left.image
        = image_tag COMPANY["logo_sm"], class: "img-circle"
      .pull-left.info
        p =user.name
        a href="#"
          i.fa.fa-circle.text-success
          = user.role
    /! search form
    / form.sidebar-form action="#" method="get"
    /   .input-group
    /     input.form-control name="q" placeholder="Search..." type="text" /
    /     span.input-group-btn
    /       button#search-btn.btn.btn-flat name="search" type="submit"
    /         i.fa.fa-search
    /! /.search form
    /! sidebar menu: : style can be found in sidebar.less
    ul.sidebar-menu
      li.header MAIN NAVIGATION
      / li.active.treeview
      /   a href="#"
      /     i.fa.fa-dashboard
      /     span Dashboard
      li class="#{active(Employee)}"
        a href="/employees"
          i.fa.fa-user
          span Employees
          / small.label.pull-right.bg-red 3
      li class="#{active(Datasummary)}"
        a href="/datasummaries"
          i.fa.fa-table
          span Data Summary
          / small.label.pull-right.bg-yellow 12
      li class="#{active(Paysummary)}"
        a href="/paysummaries"
          i.fa.fa-diamond
          span Pay Summary
      li class="#{active(Tracking)}"
        a href="/trackings"
          i.fa.fa-bookmark
          span Track Leaves
          / small.label.pull-right.bg-yellow 12
      / li
      /   a href="/settings"
      /     i.fa.fa-gear
      /     span Seetings

  /! /.sidebar
