/! Notifications: style can be found in dropdown.less
li.dropdown.notifications-menu
  a.dropdown-toggle data-toggle="dropdown" href="#" 
    i.fa.fa-bell-o
    span.label.label-warning 10
  ul.dropdown-menu
    li.header You have 10 notifications
    li
      /! inner menu: contains the actual data
      ul.menu
        li
          a href="#" 
            i.fa.fa-users.text-aqua
            | 5 new members joined today
        li
          a href="#" 
            i.fa.fa-warning.text-yellow
            | Very long description here that may not fit into the page and may cause design problems
        li
          a href="#" 
            i.fa.fa-users.text-red
            | 5 new members joined
        li
          a href="#" 
            i.fa.fa-shopping-cart.text-green
            | 25 sales made
        li
          a href="#" 
            i.fa.fa-user.text-red
            | You changed your username
    li.footer
      a href="#"  View all