/! Tasks: style can be found in dropdown.less
li.dropdown.tasks-menu
  a.dropdown-toggle data-toggle="dropdown" href="#" 
    i.fa.fa-flag-o
    span.label.label-danger 9
  ul.dropdown-menu
    li.header You have 9 tasks
    li
      /! inner menu: contains the actual data
      ul.menu
        li
          /! Task item
          a href="#" 
            h3
              | Design some buttons
              small.pull-right 20%
            .progress.xs
              .progress-bar.progress-bar-aqua aria-valuemax="100" aria-valuemin="0" aria-valuenow="20" role="progressbar" style=("width: 20%") 
                span.sr-only 20% Complete
        /! end task item
        li
          /! Task item
          a href="#" 
            h3
              | Create a nice theme
              small.pull-right 40%
            .progress.xs
              .progress-bar.progress-bar-green aria-valuemax="100" aria-valuemin="0" aria-valuenow="20" role="progressbar" style=("width: 40%") 
                span.sr-only 40% Complete
        /! end task item
        li
          /! Task item
          a href="#" 
            h3
              | Some task I need to do
              small.pull-right 60%
            .progress.xs
              .progress-bar.progress-bar-red aria-valuemax="100" aria-valuemin="0" aria-valuenow="20" role="progressbar" style=("width: 60%") 
                span.sr-only 60% Complete
        /! end task item
        li
          /! Task item
          a href="#" 
            h3
              | Make beautiful transitions
              small.pull-right 80%
            .progress.xs
              .progress-bar.progress-bar-yellow aria-valuemax="100" aria-valuemin="0" aria-valuenow="20" role="progressbar" style=("width: 80%") 
                span.sr-only 80% Complete
        /! end task item
    li.footer
      a href="#"  View all tasks