/! User Account: style can be found in dropdown.less
li.dropdown.user.user-menu
  a.dropdown-toggle data-toggle="dropdown" href="javascript:;" 
    /= image_tag "margot-logo-circle.png", class: "user-image"
    /.text-center style="margin: 10px;"
    i.fa.fa-user-circle-o.fa-2x.user-image
    | &nbsp;
    span.hidden-xs =user.name
  ul.dropdown-menu
    /! User image
    li.user-header
      /=image_tag "margot-logo-circle.png", class: "img-circle"
      .text-center style="color:#eee; margin:10px;"
        i.fa.fa-user-circle-o.fa-5x.img-circle
      p
        | #{user.name} - #{user.role}
        small Member since 2017
    /! Menu Body
    / li.user-body
    /   .col-xs-4.text-center
    /     a href="#"  Followers
    /   .col-xs-4.text-center
    /     a href="#"  Sales
    /   .col-xs-4.text-center
    /     a href="#"  Friends
    /! Menu Footer
    li.user-footer
      .pull-left
        a.btn.btn-default.btn-flat href="#"  Profile
      .pull-right
        =link_to 'Sign out', destroy_user_session_path, class: 'btn btn-default btn-flat', method: :delete