/! Content Header (Page header)
#showMore.modal.fade aria-labelledby="showMoreLabel" role="dialog" tabindex="-1" 
  .modal-dialog.modal-lg role="document" 
    .modal-content
      .modal-header
        button.close aria-label="Close" data-dismiss="modal" type="button" 
          span aria-hidden="true"  &times;
        h4#showMoreLabel.modal-title 
          strong.summary-employee
          |&nbsp; Pay Summary for &nbsp;
          =paydate
        span.badge
          i.fa.fa-calendar &nbsp;
          =period_from  
          |&nbsp; 
          i.fa.fa-arrow-circle-right 
          |&nbsp;   
          =period_to  
      .modal-body.btn-text-field    
        .row
          .col-sm-6.col-xs-12.less-padding
            .panel.panel-primary
              .panel-heading.text-right
                .badge
                  |Total : &nbsp; 
                  span.first_total
              .panel-body
                .row
                  .col-xs-6.less-padding
                    ul.list-group
                      li.list-group-item
                        |Total Days
                        span.badge.total_days
                      li.list-group-item
                        |Absences
                        span.badge.absences
                      li.list-group-item
                        |Tardy
                        span.badge.tardy
                      li.list-group-item
                        |Night Diff
                        span.badge.night_diff
                      li.list-group-item
                        |VL
                        span.badge.vl
                      li.list-group-item
                        |SL
                        span.badge.sl
                        
                  .col-xs-6.less-padding
                    ul.list-group
                      li.list-group-item
                        |REG OT
                        span.badge.reg_ot 
                      li.list-group-item
                        |RD OT
                        span.badge.rd_ot  
                      li.list-group-item
                        |SP OT
                        span.badge.sp_ot
                      li.list-group-item
                        |HOT
                        span.badge.hot
                      li.list-group-item
                        |EXT OT
                        span.badge.ext_ot
                      li.list-group-item
                        |OT Meals 
                        span.badge.ot_meals
          .col-sm-3.col-xs-6.less-padding
            .panel.panel-primary
              .panel-heading.text-right
                .badge
                  |Total : &nbsp; 
                  span.second_total
              .panel-body
                .row
                  .col-xs-12.less-padding
                    ul.list-group
                      li.list-group-item
                        |Philhealth 15th
                        span.badge.philhealth_15th
                      li.list-group-item
                        |HDMF 15th
                        span.badge.hdmf_15th
                      li.list-group-item
                        |HDMF Loan 15th
                        span.badge.hdmf_ln_15th
                      li.list-group-item
                        |SSS 30th
                        span.badge.sss_30th
                      li.list-group-item
                        |SSS Loan 30th
                        span.badge.sss_ln_30th
                      li.list-group-item
                        |Insurance
                        span.badge.insurance
          .col-sm-3.col-xs-6.less-padding
            .panel.panel-primary
              .panel-heading.text-right
                |Others
              .panel-body
                .row
                  .col-xs-12.less-padding
                    ul.list-group
                      li.list-group-item
                        |Margot CA
                        span.badge.margot_ca              
                      li.list-group-item
                        |Adjustments
                        span.badge.adjustments              
                      li.list-group-item
                        |13th Pay
                        span.badge.pay_13th
                      li.list-group-item
                        |Refund
                        span.badge.refund  
                    ul.list-group
                      li.list-group-item.list-group-item-info
                        |OT Amount
                        span.badge.ot_amount              
                      li.list-group-item.list-group-item-warning
                        |OT Tax
                        span.badge.ot_tax              
                      li.list-group-item.list-group-item-danger
                        |Net Tax
                        span.badge.net_tax           
                         
      .modal-footer
        button.btn.btn-default data-dismiss="modal" type="button"  Close
        button.btn.btn-primary.print-btn type="button"  Print
section.content-header 
  h1
    |Pay Summary
    small
      =params[:paydate].present? ? 'for '+paydate.to_s : '' 
  -if params[:paydate].present?    
    .breadcrumb 
      .btn-group role="group" style="margin-right: 5px;"
        button.btn.btn-default.btn-flat.btn-xs.dropdown-toggle aria-expanded="true" aria-haspopup="false" data-toggle="dropdown" type="button" 
          | Options &nbsp;
          span.caret

        ul.dropdown-menu.dropdown-menu-right
          li 
            a href="javascript:;" data-target="#viewData" data-toggle="modal" 
              i.fa.fa-calendar 
              |Choose Paydate
          
          li
            =link_to '<i class="fa fa-shield"></i> Bank Report', bankreport_paysummaries_path(:paydate=>paydate,:from=>period_from,:to=>period_to, :format => 'xlsx'), target: '_blank' 
          li.divider
          li.dropdown-submenu
            a href="javascript:;" tabindex="-1" 
              i.fa.fa-ticket
              | View Payslip &nbsp;
              span.caret
            ul.dropdown-menu.dropdown-menu-right
              li 
                =link_to '<i class="fa fa-money"></i> Payslip All', payslips_path(:paydate=>paydate,:from=>period_from,:to=>period_to, :format => 'pdf'), target: '_blank'
              -branches.each do |b| 
                li
                  =link_to '<i class="fa fa-money"></i> '+b.branch, payslips_path(:paydate=>paydate,:from=>period_from,:to=>period_to, :branch=>b.branch, :format => 'pdf'), target: '_blank' 
              
          li.dropdown-submenu
            a href="javascript:;" tabindex="-1" 
              i.fa.fa-envelope
              | Mail Payslip &nbsp;
              span.caret
            ul.dropdown-menu.dropdown-menu-right
              li 
                =link_to '<i class="fa fa-envelope"></i> Mail All', email_payslips_path(:paydate=>paydate,:from=>period_from,:to=>period_to)
              -branches.each do |b|   
                li
                  =link_to '<i class="fa fa-envelope"></i> '+b.branch, email_payslips_path(:paydate=>paydate,:from=>period_from,:to=>period_to, :branch=>b.branch)
                          
          li.dropdown-submenu
            a href="javascript:;" tabindex="-1" 
              i.fa.fa-file-text-o
              | Download &nbsp;
              span.caret
            ul.dropdown-menu.dropdown-menu-right
              li
                =link_to '<i class="fa fa-file-text-o"></i> All Branch', report_paysummaries_path(:paydate=>paydate,:from=>period_from,:to=>period_to, :format => 'xlsx'), target: '_blank'
              -branches.each do |b|   
                li
                  =link_to '<i class="fa fa-users"></i> '+b.branch, report_paysummaries_path(:paydate=>paydate,:from=>period_from,:to=>period_to, :branch=>b.branch, :format => 'xlsx'), target: '_blank' 
                          
      a.badge href="javascript:;" data-target="#changePeriod" data-toggle="modal"
        i.fa.fa-calendar 
        |&nbsp; 
        =period_from
        |&nbsp; 
        i.fa.fa-arrow-circle-right 
        |&nbsp; 
        =period_to
  -else
    .breadcrumb
      .btn-group role="group" style="margin-right: 5px;"
        button.btn.btn-default.btn-flat.btn-xs.dropdown-toggle aria-expanded="true" aria-haspopup="false" data-toggle="dropdown" type="button" 
          | Options &nbsp;
          span.caret

        ul.dropdown-menu.dropdown-menu-right
          / li 
          /   a href="javascript:;" data-target="#savedData" data-toggle="modal" 
          /     i.fa.fa-floppy-o 
          /     |Create Paydate 
          li 
            a href="javascript:;" data-target="#viewData" data-toggle="modal" 
              i.fa.fa-calendar 
              |Choose Paydate            
/! Main content
section.content
  .row
    .col-md-12
      /! Profile Image
      -if params[:paydate].nil?
        .box
          .box-body
            /=react_component 'Paysummaries'
            table#employeesPaydate.table.table-bordered.table-striped
              thead
                tr
                  th PAYDATE
                  th PERIOD
                  th 
              tbody
                -datasummaries.each do |data|
                  tr
                    td
                      span.badge
                        i.fa.fa-calendar 
                        |&nbsp;
                        =data.paydate.to_date
                    td
                      span.badge
                        i.fa.fa-calendar 
                        |&nbsp; 
                        =data.period_from.to_date 
                        |&nbsp; 
                        i.fa.fa-arrow-circle-right 
                        |&nbsp; 
                        =data.period_to.to_date
                    td
                      .btn-group role="group" 
                        button.btn.btn-default.btn-flat.btn-xs.dropdown-toggle aria-expanded="true" aria-haspopup="false" data-toggle="dropdown" type="button" 
                          / i.fa.fa-ellipsis-h 
                          span.glyphicon.glyphicon-th-large
                          |&nbsp;open as 
                        ul.dropdown-menu.dropdown-menu-right
                          li 
                            =link_to '<i class="fa fa-list-alt"></i> Pay Summary', paysummaries_path(:paydate=>data.paydate.to_date,:from=>data.period_from.to_date,:to=>data.period_to.to_date) 
                          li
                            =link_to '<i class="fa fa-table"></i> Data Summary', datasummaries_path(:paydate=>data.paydate.to_date,:from=>data.period_from.to_date,:to=>data.period_to.to_date, :data=>'saved')  
                          li
                            =link_to '<i class="fa fa-shield"></i> &nbsp;Bank Report', bankreport_paysummaries_path(:paydate=>data.paydate.to_date,:from=>data.period_from.to_date,:to=>data.period_to.to_date, :format => 'xlsx'), target: '_blank' 
                          li.divider  
                          li.dropdown-submenu
                            a href="javascript:;" tabindex="-1" 
                              i.fa.fa-ticket
                              | View Payslip &nbsp;
                              span.caret
                            ul.dropdown-menu.dropdown-menu-right
                              li 
                                =link_to '<i class="fa fa-money"></i> Payslip All', payslips_path(:paydate=>data.paydate.to_date,:from=>data.period_from.to_date,:to=>data.period_to.to_date, :format => 'pdf'), target: '_blank'
                              -branches.each do |b|  
                                li
                                  =link_to '<i class="fa fa-money"></i> '+b.branch, payslips_path(:paydate=>data.paydate.to_date,:from=>data.period_from.to_date,:to=>data.period_to.to_date, :branch=>b.branch, :format => 'pdf'), target: '_blank' 

                          li.dropdown-submenu
                            a href="javascript:;" tabindex="-1" 
                              i.fa.fa-envelope
                              | Mail Payslip &nbsp;
                              span.caret
                            ul.dropdown-menu.dropdown-menu-right
                              li 
                                =link_to '<i class="fa fa-envelope"></i> Mail All', email_payslips_path(:paydate=>data.paydate.to_date,:from=>data.period_from.to_date,:to=>data.period_to.to_date)
                              -branches.each do |b|  
                                li
                                  =link_to '<i class="fa fa-envelope"></i> '+b.branch, email_payslips_path(:paydate=>data.paydate.to_date,:from=>data.period_from.to_date,:to=>data.period_to.to_date, :branch=>b.branch)  
                          li.dropdown-submenu
                            a href="javascript:;" tabindex="-1" 
                              i.fa.fa-file-text-o
                              | &nbsp;Download &nbsp;
                              span.caret
                            ul.dropdown-menu.dropdown-menu-right
                              li
                                =link_to '<i class="fa fa-file-text-o"></i> All Branch', report_paysummaries_path(:paydate=>data.paydate.to_date,:from=>data.period_from.to_date,:to=>data.period_to.to_date, :format => 'xlsx'), target: '_blank'
                              -branches.each do |b|    
                                li
                                  =link_to '<i class="fa fa-users"></i> '+b.branch, report_paysummaries_path(:paydate=>data.paydate.to_date,:from=>data.period_from.to_date,:to=>data.period_to.to_date, :branch=>b.branch, :format => 'xlsx'), target: '_blank'        
                          li.divider        
                          li
                            =link_to '<i class="fa fa-trash-o"></i> Remove', remove_datasummaries_path(paydate:data.paydate.to_date, from: data.period_from.to_date, to: data.period_to.to_date, data:'saved'), data: { confirm: 'Are you sure?' }                                
      -else
        .nav-tabs-custom

          ul.nav.nav-tabs
            -branches.each do |b|
              li class="#{active(b.branch)}"
                a data-toggle="tab" href="##{b.branch.parameterize.underscore.classify}" #{b.branch}  
          /! Profile Image
          .tab-content 
            -branches.each do |b| 
              javascript:
                $(function () {
                  $("#employees#{b.branch.parameterize.underscore.classify}").DataTable(); 
                });         
              div id="#{b.branch.parameterize.underscore.classify}" class="tab-pane #{active(b.branch)}"
                .table-responsive
                  table.table.table-bordered.table-striped id="employees#{b.branch.parameterize.underscore.classify}"
                    thead
                      tr
                        th LAST NAME
                        th GIVEN NAME
                        th TOTAL DAYS
                        th REG OT
                        th RD OT
                        th TARDY
                        th ABSENCE
                        th 
                    tbody
                      -employees.where(:branch => b.branch).each do |e|
                        -if pay(e).present?
                          tr
                            td= e.last_name
                            td= e.given_name
                            td= pay(e)[0][:total_days]
                            td= commas('%.2f' % pay(e)[0][:reg_ot])
                            td= commas('%.2f' % pay(e)[0][:rd_ot])
                            td= commas('%.2f' % pay(e)[0][:tardy])
                            td= commas('%.2f' % pay(e)[0][:absences])
                            td
                              .btn-group role="group" 
                                button.btn.btn-default.btn-flat.btn-xs.dropdown-toggle aria-expanded="true" aria-haspopup="false" data-toggle="dropdown" type="button" 
                                  i.fa.fa-ellipsis-h
                                ul.dropdown-menu.dropdown-menu-right
                                  li 
                                    div.summary-data style="display:none;"
                                      =pay(e).to_json
                                    a href="javascript:;" data-target="#showMore" data-toggle="modal" data-employee="#{e.given_name} #{e.last_name}"
                                      i.fa.fa-list-alt 
                                      | Review
                                  li 
                                    =link_to '<i class="fa fa-file-pdf-o"></i> View Payslip', payslips_path(:employee=>e.id, :paydate=>paydate.to_date,:from=>period_from.to_date,:to=>period_to.to_date, :format=>'pdf'), target: '_blank'
                                  li 
                                    =link_to '<i class="fa fa-envelope"></i> Mail Payslip', email_payslips_path(:employee=>e.id, :paydate=>paydate.to_date,:from=>period_from.to_date,:to=>period_to.to_date)
                                  li
                                    =link_to '<i class="fa fa-user-circle-o"></i> Account', employee_path(e)
                                  li
                                    =link_to '<i class="fa fa-clock-o"></i> Timecard', employee_timecards_path(e)         
           

#viewData.modal.fade aria-labelledby="viewDataLabel" role="dialog" tabindex="-1" 
  .modal-dialog role="document" 
    .modal-content
      .modal-header
        button.close aria-label="Close" data-dismiss="modal" type="button" 
          span aria-hidden="true"  &times;
        h4#viewDataLabel.modal-title 
          |Choose Paydate
      .modal-body
        table.table
          thead
            th Paydate
            th Period 
            th Open as
          -datasummaries.each do |s|
            tr
              td.text-center =s.paydate.to_date
              td 
                a.badge href="javascript:;"
                  i.fa.fa-calendar 
                  |&nbsp; 
                  =s.period_from.to_date
                  |&nbsp; 
                  i.fa.fa-arrow-circle-right 
                  |&nbsp; 
                  =s.period_to.to_date
              td 
                =link_to 'Data Summary', datasummaries_path(paydate:s.paydate.to_date, from: s.period_from.to_date, to: s.period_to.to_date, data:'saved'), class: "btn btn-success btn-flat btn-xs", style: "margin-right: 5px;"
                =link_to 'Pay Summary', paysummaries_path(paydate:s.paydate.to_date, from: s.period_from.to_date, to: s.period_to.to_date), class: "btn btn-primary btn-flat btn-xs", style: "margin-right: 5px;"
                =link_to 'Remove', remove_datasummaries_path(paydate:s.paydate.to_date, from: s.period_from.to_date, to: s.period_to.to_date, data:'saved'), data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-flat btn-xs"
      .modal-footer
        =form_tag import_datasummaries_path, multipart: true 
          .input-group
            =file_field_tag :file, class: 'form-control'
            .input-group-btn
              = submit_tag 'Import', class: "btn btn-primary"   
#newLeave.modal.fade aria-labelledby="newLeaveLabel" role="dialog" tabindex="-1" 
  .modal-dialog role="document" 
    = form_for new_leave, url: leaves_path
        .modal-content
          .modal-header
            button.close aria-label="Close" data-dismiss="modal" type="button" 
              span aria-hidden="true"  &times;
            h4#newLeaveLabel.modal-title 
              |Apply Leave for &nbsp;
              span.employee-name
          .modal-body
            .form-group
              = label_tag :kind, 'Leave Type:', class: "control-label"
              = text_field_tag :kind, nil, class: "form-control"   
            .form-group
              = label_tag :schedule, 'Schedule:', class: "control-label"
              = date_field_tag :schedule, nil, class: "form-control" 
            .form-group
              = label_tag :remarks, 'Remarks:', class: "control-label"
              = text_field_tag :remarks, nil, class: "form-control"  
            .form-group style="display:none;"
              = label_tag :employee_id, 'ID:', class: "control-label"
              = text_field_tag :employee_id, nil, class: "form-control employee-id"             
          .modal-footer
            button.btn.btn-default data-dismiss="modal" type="button"  Close
            = submit_tag 'Apply', class: "btn btn-primary"         
javascript:
  $(function () {
    $('#employeesPaydate').DataTable();

    $('#newEmployee').on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget) 
    });

    $('#showMore').on('show.bs.modal', function (event) {
      var button    = $(event.relatedTarget);
      var employee  = button.data('employee');
      var summary   = button.parent('li').find('.summary-data').text();
      var modal     = $(this);

      modal.find('.summary-employee').text(employee); 

      summary_json = JSON.parse(summary);

      $.each( summary_json[0], function(key,value) {
        n = Math.abs(parseFloat(value)).toFixed(2);
        modal.find('.'+key).text(commas(n));
      });
      $.each( summary_json[1], function(key,value) {
        n = Math.abs(parseFloat(value)).toFixed(2);
        modal.find('.'+key).text(commas(n));
      });
      $.each( summary_json[2], function(key,value) {
        n = Math.abs(parseFloat(value)).toFixed(2);
        modal.find('.'+key).text(commas(n));
      });
      $.each( summary_json[3], function(key,value) {
        n = Math.abs(parseFloat(value)).toFixed(2);
        modal.find('.'+key).text(commas(n));
      });
    }); 

    $('#newLeave').on('show.bs.modal', function (event) {
      var button   = $(event.relatedTarget);
      var id       = button.data('id');
      var employee = button.data('employee');
      var leaves   = button.data('leaves');
      var modal    = $(this);

      modal.find('.employee-name').text(employee);
      modal.find('.employee-id').val(id);
    });

    $('.dropdown-submenu a').on("click", function(e){
      $('.dropdown-submenu ul').hide();
      $(this).next('ul').toggle();
      e.stopPropagation();
      // e.preventDefault();
    });

    $('.print-btn').on('click', function () {
      if ($('.modal').is(':visible')) {
          var modalId = $(event.target).closest('.modal').attr('id');
          $('body').css('visibility', 'hidden');
          $("#" + modalId).css('visibility', 'visible');
          $('#' + modalId).removeClass('modal');
          $('.modal-footer').hide();
          window.print();
          $('body').css('visibility', 'visible');
          $('#' + modalId).addClass('modal');
      } else {
          window.print();
      }
    });

    function commas(x) {
      return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
    }

  });

  

  


