.text-center 
  h3 style=("margin-left: -70px;") 
    / =image_tag "margot-logo.png", style: "margin-bottom: -30px;" 
    =image_tag "margot-logo.png", style: "margin-bottom: -30px;"
    /=img{src: "file://#{Rails.root}/vendor/assets/images/margot-logo.png"}
    | &nbsp; MARGOT TEST INTEGRATION SERVICES
  p style=("margin-top: -15px;") 
    | Unit 20-01 One Global Place 5th Avenue corner 25th Street
    br/
    | Bonifacio Global City, Taguig City 1634 Philippines
  br/
  h4 
    |PAY SUMMARY for&nbsp;
    =params[:paydate]
  p
    |Cover Period : &nbsp;
    =params[:from]
    |&nbsp; > &nbsp;
    =params[:to] 


strong =params[:branch] 
table.table.table-bordered.table-striped
  tbody
    tr
      th NAME
      th TOTAL DAYS
      th REG OT
      th RD OT
      th TARDY
      th ABSENCE
      th Net Pay
    -employees.each do |e|
      tr
        td= e.last_name + ', ' + e.given_name + e.middle_name
        td= pay(e)[0][:total_days]
        td= '%.2f' % pay(e)[0][:reg_ot]
        td= '%.2f' % pay(e)[0][:rd_ot]
        td= '%.2f' % pay(e)[0][:tardy]
        td= '%.2f' % pay(e)[0][:absences]  
        td= '%.2f' % (pay(e)[1][:other_pays_total] + pay(e)[1][:earnings_total] - pay(e)[3][:gov_deduct_total] - pay(e)[1][:ln_others_total])      