/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "ionicons.min";
@import "jquery-jvectormap-1.2.2";
@import "fullcalendar";
@import "AdminLTE.min";
@import "skins/_all-skins.min";
@import "dataTables.bootstrap";



th
{
	text-align: center;
}
td input
{
	padding: 0px !important;
}
.btn-inside-td
{
	padding: 0px !important;
}
.hide-btn 
{
	width: 25px;
  padding: 0px !important;
  margin-top: 2px;
  display: none;
  position: absolute;
  right: 1px;
}
tr:hover .hide-btn 
{
	display: block;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -1px;
}