@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

body, html
{
	background: #eee;
}
.short-size
{
	width: 8.5in;
	height: 11in;
}
.a4-size
{
	width: 8.27in;
	height: 11.69in;
}
.per-page
{
	background: #fff;
	margin: 5px auto;
	padding: 0.1in .3in;
}

div
{
	font-size: 9pt;
	text-align: left;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th
{
	padding: 2px;
}
