doctype html
html 
  head
    title= "Payroll"
    meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport"
    =favicon_link_tag 'kiakaha-logo.png'

    =csrf_meta_tags
    =stylesheet_link_tag 'application', params[:controller], media: 'all', 'data-turbolinks-track': 'reload'
    =javascript_include_tag 'application', params[:controller], 'data-turbolinks-track': 'reload'

  body.sidebar-mini.skin-red
    .wrapper
      ==cell(Skin::AdminLte::Component::Cell::Header, current_user)
      ==cell(Skin::AdminLte::Component::Cell::Sidebar, current_user)
      .content-wrapper
        =yield
      ==cell(Skin::AdminLte::Component::Cell::Footer, current_user)
      /==cell(Skin::AdminLte::Component::Cell::Control, current_user)

    