doctype html
html 
  head
    title= "Payroll"
    meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport"
    =favicon_link_tag 'kiakaha-logo.png'
    =csrf_meta_tags
    =stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'

  body.hold-transition.login-page
    = yield

