doctype html
html 
  head
    title= "Payroll"
    meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport"
    =favicon_link_tag 'kiakaha-logo.png'
    =csrf_meta_tags
    =stylesheet_link_tag "local-bootstrap.min"
    /link href="#{Rails.root}/vendor/assets/stylesheets/local-bootstrap.min.css" media="all" rel="stylesheet" type="text/css" 

  body
  	.print-wrap
  		=yield