.login-box
  .login-logo
    a href="javascript:;" 
      b=COMPANY["name"]
      |&nbsp;
      =COMPANY["extension"]
  /! /.login-logo
  .login-box-body
    =form_for(resource, as: resource_name, url: new_user_registration_path) do |f|
      p.login-box-msg Register a new membership
      .form-group.has-feedback
        =f.text_field :name, autofocus: true, placeholder: "Full name", class: 'form-control'
        span.glyphicon.glyphicon-user.form-control-feedback
      .form-group.has-feedback
        =f.text_field :username, autofocus: true, placeholder: "Username", class: 'form-control'
        span.glyphicon.glyphicon-star.form-control-feedback
      .form-group.has-feedback
        =f.email_field :email, autofocus: true, placeholder: "Email", class: 'form-control'
        span.glyphicon.glyphicon-envelope.form-control-feedback    
      .form-group.has-feedback
        =f.text_field :role, autofocus: true, placeholder: "Role", class: 'form-control'
        span.glyphicon.glyphicon-flag.form-control-feedback
      .form-group.has-feedback
        =f.password_field :password, placeholder: "Password", class: 'form-control', autocomplete: "off"
        span.glyphicon.glyphicon-lock.form-control-feedback
      .form-group.has-feedback
        =f.password_field :password_confirmation, placeholder: "Retype password", class: 'form-control', autocomplete: "off"
        span.glyphicon.glyphicon-log-in.form-control-feedback  

      .row
        .col-xs-8
        .col-xs-4
          =f.submit "Register", class: 'btn btn-primary btn-block btn-flat'
 
